{% extends 'base.html' %}
{% load static %}

{% block title %}وبلاگ{% endblock title %}

{% block content %}

<main>
    <!-- breadcrumb area start -->
    <section class="breadcrumb-area">
        <div class="breadcrumb-area-inner">
            <div class="breadcrumb-bg">
                <img alt="image" src="{% static 'imgs/gallery/gallery-29.webp' %}" />
            </div>
            <div class="container rr-container-1410">
                <div class="breadcrumb-content">
                    <div class="title-wrapper">
                        <h1 class="breadcrumb-title">
                            آخرین پست های ما
                        </h1>
                    </div>
                    <div class="breadcrumb-wrapper">
                        <ul class="rr-breadcrumb">
                            <li>
                                <a href="{% url 'pages:home' %}">
                                    خانه
                                </a>
                            </li>
                            <li>
                             وبلاگ
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->
    <!-- blog-list area start  -->
    <div class="blog-list-area">
        <div class="container rr-container-1410">
            <div class="blog-list-area-inner section-spacing">
                <div class="blog-list-wrapper-box">
                    <div class="blog-list-wrapper">
                        <article class="blog-4 fade-anim">
                            <div class="thumb">
                                <a href="blog-details.html">
                                    <img alt="blog image" src="{% static 'imgs/blog/blog-11.webp' %}" />
                                </a>
                            </div>
                            <div class="content">
                                <div class="meta">
                                    <span class="date">
                                        <i class="fa-regular fa-calendar">
                                        </i>
                                        ۲۴ شهریور ۱۴۰۴
                                    </span>
                                    <span class="author">
                                        <i class="fa-regular fa-user">
                                        </i>
                                        توسط مدیر
                                    </span>
                                </div>
                                <h2 class="title">
                                    <a href="blog-details.html">
                                        مزایای خدمات فناوری اطلاعات برای مشاغل کوچک
                                    </a>
                                </h2>
                                <p class="text">
                                    جوهر اصلی راه حل های IT در نقش محوری آنها در تجارت نهفته است
                                    تحول این راه حل ها به عنوان کاتالیزور برای بهینه سازی عملیاتی ، ساده سازی می شوند
                                    فرآیندهای پیچیده و تسریع در بهره وری. با استفاده از فن آوری های برش ...
                                </p>
                                <a class="rr-btn" href="blog-details.html">
                                    <span class="btn-wrap">
                                        <span class="text-one">
                                            جزئیات را بخوانید
                                            <i class="fa-solid fa-angles-left">
                                            </i>
                                        </span>
                                        <span class="text-two">
                                            جزئیات را بخوانید
                                            <i class="fa-solid fa-angles-left">
                                            </i>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </article>
                        <article class="blog-4 fade-anim">
                            <div class="thumb">
                                <a href="blog-details.html">
                                    <img alt="blog image" src="{% static 'imgs/blog/blog-12.webp' %}" />
                                </a>
                            </div>
                            <div class="content">
                                <div class="meta">
                                    <span class="date">
                                        <i class="fa-regular fa-calendar">
                                        </i>
                                        ۲۴ شهریور ۱۴۰۴
                                    </span>
                                    <span class="author">
                                        <i class="fa-regular fa-user">
                                        </i>
                                        توسط مدیر
                                    </span>
                                </div>
                                <h2 class="title">
                                    <a href="blog-details.html">
                                        10 تهدید امنیت سایبری برتر هر مشاغل
                                    </a>
                                </h2>
                                <p class="text">
                                    جوهر اصلی راه حل های IT در نقش محوری آنها در تجارت نهفته است
                                    تحول این راه حل ها به عنوان کاتالیزور برای بهینه سازی عملیاتی ، ساده سازی می شوند
                                    فرآیندهای پیچیده و تسریع در بهره وری. با استفاده از فن آوری های برش ...
                                </p>
                                <a class="rr-btn" href="blog-details.html">
                                    <span class="btn-wrap">
                                        <span class="text-one">
                                            جزئیات را بخوانید
                                            <i class="fa-solid fa-angles-left">
                                            </i>
                                        </span>
                                        <span class="text-two">
                                            جزئیات را بخوانید
                                            <i class="fa-solid fa-angles-left">
                                            </i>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </article>
                        <article class="blog-4 fade-anim">
                            <div class="thumb">
                                <a href="blog-details.html">
                                    <img alt="blog image" src="{% static 'imgs/blog/blog-13.webp' %}" />
                                </a>
                            </div>
                            <div class="content">
                                <div class="meta">
                                    <span class="date">
                                        <i class="fa-regular fa-calendar">
                                        </i>
                                        ۲۴ شهریور ۱۴۰۴
                                    </span>
                                    <span class="author">
                                        <i class="fa-regular fa-user">
                                        </i>
                                        توسط مدیر
                                    </span>
                                </div>
                                <h2 class="title">
                                    <a href="blog-details.html">
                                        از سیستم های میراث گرفته تا زیرساخت های مدرن فناوری اطلاعات
                                    </a>
                                </h2>
                                <p class="text">
                                    جوهر اصلی راه حل های IT در نقش محوری آنها در تجارت نهفته است
                                    تحول این راه حل ها به عنوان کاتالیزور برای بهینه سازی عملیاتی ، ساده سازی می شوند
                                    فرآیندهای پیچیده و تسریع در بهره وری. با استفاده از فن آوری های برش ...
                                </p>
                                <a class="rr-btn" href="blog-details.html">
                                    <span class="btn-wrap">
                                        <span class="text-one">
                                            جزئیات را بخوانید
                                            <i class="fa-solid fa-angles-left">
                                            </i>
                                        </span>
                                        <span class="text-two">
                                            جزئیات را بخوانید
                                            <i class="fa-solid fa-angles-left">
                                            </i>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </article>
                        <article class="blog-4 fade-anim">
                            <div class="thumb">
                                <a href="blog-details.html">
                                    <img alt="blog image" src="{% static 'imgs/blog/blog-14.webp' %}" />
                                </a>
                            </div>
                            <div class="content">
                                <div class="meta">
                                    <span class="date">
                                        <i class="fa-regular fa-calendar">
                                        </i>
                                        ۲۴ شهریور ۱۴۰۴
                                    </span>
                                    <span class="author">
                                        <i class="fa-regular fa-user">
                                        </i>
                                        توسط مدیر
                                    </span>
                                </div>
                                <h2 class="title">
                                    <a href="blog-details.html">
                                        بهترین روشها برای امنیت و انطباق
                                    </a>
                                </h2>
                                <p class="text">
                                    جوهر اصلی راه حل های IT در نقش محوری آنها در تجارت نهفته است
                                    تحول این راه حل ها به عنوان کاتالیزور برای بهینه سازی عملیاتی ، ساده سازی می شوند
                                    فرآیندهای پیچیده و تسریع در بهره وری. با استفاده از فن آوری های برش ...
                                </p>
                                <a class="rr-btn" href="blog-details.html">
                                    <span class="btn-wrap">
                                        <span class="text-one">
                                            جزئیات را بخوانید
                                            <i class="fa-solid fa-angles-left">
                                            </i>
                                        </span>
                                        <span class="text-two">
                                            جزئیات را بخوانید
                                            <i class="fa-solid fa-angles-left">
                                            </i>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </article>
                    </div>
                    <div class="blog-list-footer">
                        <div class="rr-pagination fade-anim">
                            <a href="#">
                                01
                            </a>
                            <a href="#">
                                02
                            </a>
                            <a href="#">
                                03
                            </a>
                            <a href="#">
                                04
                            </a>
                            <a href="#">
                                <i class="fa-solid fa-angles-left">
                                </i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="blog-sidebar-wrapper-box">
                    <div class="blog-sidebar-wrapper fade-anim">
                        <div class="blog-sidebar-box">
                            <h3 class="sidebar-title">
                                اینجا جستجو کنید
                            </h3>
                            <div class="sidebar-search-box">
                                <form action="#" class="sidebar-search-form">
                                    <div class="input-field">
                                        <input placeholder="ایمیل خود را وارد کنید" type="email" />
                                        <button class="search-btn" type="submit">
                                            <i class="fa-solid fa-magnifying-glass">
                                            </i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="blog-sidebar-box">
                            <h3 class="sidebar-title">
                                پست های اخیر
                            </h3>
                            <div class="sidebar-blog-wrapper-box">
                                <div class="sidebar-blog-wrapper">
                                    <article class="sidebar-blog">
                                        <div class="thumb">
                                            <a href="blog-details.html">
                                                <img alt="blog image" src="{% static 'imgs/blog/blog-15.webp' %}" />
                                            </a>
                                        </div>
                                        <div class="content">
                                            <div class="meta">
                                                <span class="author">
                                                    <i class="fa-regular fa-user">
                                                    </i>
                                                    توسط امیرارسلان رهنما
                                                </span>
                                            </div>
                                            <h2 class="title">
                                                <a href="blog-details.html">
                                                    راهنمای نهایی برای انتخاب
                                                    درست ارائه دهنده خدمات فناوری اطلاعات
                                                </a>
                                            </h2>
                                        </div>
                                    </article>
                                    <article class="sidebar-blog">
                                        <div class="thumb">
                                            <a href="blog-details.html">
                                                <img alt="blog image" src="{% static 'imgs/blog/blog-16.webp' %}" />
                                            </a>
                                        </div>
                                        <div class="content">
                                            <div class="meta">
                                                <span class="author">
                                                    <i class="fa-regular fa-user">
                                                    </i>
                                                    توسط امیرارسلان رهنما
                                                </span>
                                            </div>
                                            <h2 class="title">
                                                <a href="blog-details.html">
                                                    چرا پشتیبان گیری داده ها و فاجعه
                                                    بازیابی غیر قابل مذاکره است
                                                </a>
                                            </h2>
                                        </div>
                                    </article>
                                    <article class="sidebar-blog">
                                        <div class="thumb">
                                            <a href="blog-details.html">
                                                <img alt="blog image" src="{% static 'imgs/blog/blog-17.webp' %}" />
                                            </a>
                                        </div>
                                        <div class="content">
                                            <div class="meta">
                                                <span class="author">
                                                    <i class="fa-regular fa-user">
                                                    </i>
                                                    توسط امیرارسلان رهنما
                                                </span>
                                            </div>
                                            <h2 class="title">
                                                <a href="blog-details.html">
                                                    آنچه شرکت های در حال رشد نیاز دارند
                                                    دانستن
                                                </a>
                                            </h2>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                        <div class="blog-sidebar-box">
                            <h3 class="sidebar-title">
                                برچسب های محبوب
                            </h3>
                            <div class="sidebar-tags-box">
                                <div class="sidebar-tags">
                                    <a class="tag" href="blog.html">
                                        مشورت
                                    </a>
                                    <a class="tag" href="blog.html">
                                        نویسنده
                                    </a>
                                    <a class="tag" href="blog.html">
                                        مشاوره
                                    </a>
                                    <a class="tag" href="blog.html">
                                        خیانت
                                    </a>
                                    <a class="tag" href="blog.html">
                                        خانواده
                                    </a>
                                    <a class="tag" href="blog.html">
                                        سلامت
                                    </a>
                                    <a class="tag" href="blog.html">
                                        داوری
                                    </a>
                                    <a class="tag" href="blog.html">
                                        راه حل
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- blog-list area end  -->
</main>
{% endblock content %}