{% extends 'base.html' %}
{% load static %}

{% block title %}جزئیات وبلاگ{% endblock title %}

{% block content %}

<main>
    <!-- breadcrumb area start -->
    <section class="breadcrumb-area">
        <div class="breadcrumb-area-inner">
            <div class="breadcrumb-bg">
                <img alt="image" src="assets/imgs/gallery/gallery-29.webp" />
            </div>
            <div class="container rr-container-1410">
                <div class="breadcrumb-content">
                    <div class="title-wrapper">
                        <h1 class="breadcrumb-title">
                            جزئیات وبلاگ
                        </h1>
                    </div>
                    <div class="breadcrumb-wrapper">
                        <ul class="rr-breadcrumb">
                            <li>
                                <a href="#">
                                    خانه
                                </a>
                            </li>
                            <li>
                                جزئیات وبلاگ
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->
    <!-- blog-details area start  -->
    <div class="blog-details-area">
        <div class="container rr-container-1410">
            <div class="blog-details-area-inner section-spacing">
                <div class="blog-details-wrapper-box">
                    <div class="blog-details-wrapper fade-anim">
                        <article class="blog-details">
                            <div class="thumb">
                                <img alt="blog image" src="assets/imgs/blog/blog-18.webp" />
                            </div>
                            <div class="content">
                                <div class="meta">
                                    <span class="date">
                                        <i class="fa-regular fa-calendar">
                                        </i>
                                        ۲۴ شهریور ۱۴۰۴
                                    </span>
                                    <span class="author">
                                        <i class="fa-regular fa-user">
                                        </i>
                                        توسط مدیر
                                    </span>
                                </div>
                                <h2 class="blog-title">
                                    از سیستم های میراث گرفته تا زیرساخت های مدرن فناوری اطلاعات
                                </h2>
                                <div class="text-wrapper">
                                    <p class="text">
                                        مشاوره های تجاری جهانی نقش مهمی در رهبری فکری دارند
                                        و تبادل دانش در مقیاس جهانی. از طریق گزارش های صنعت ، مقالات سفید ، سمینارها ،
                                        و کنفرانس ها ، این شرکت ها بینش ، بهترین شیوه ها و روندهای نوظهور را به اشتراک
                                        می گذارند
                                        آینده تجارت بین المللی. با ماندن در خط مقدم روندهای جهانی و
                                        نوآوری ها ، مشاوره اطلاعات و دوراندیشی ارزشمندی را در اختیار مشتریان قرار می دهد
                                        ،
                                        توانمندسازی آنها برای پیش بینی تغییرات بازار ، سرمایه گذاری در فرصت های نوظهور و
                                        ماندن
                                        پیش از منحنی در یک منظره جهانی در حال تغییر.
                                    </p>
                                    <p class="text">
                                        مشاوره جهانی تجارت به عنوان یک شریک استراتژیک و مشاور قابل اعتماد در خدمت است
                                        سازمان هایی که از پیچیدگی های تجارت بین المللی استفاده می کنند. با ارائه
                                        جامع
                                        مجموعه خدمات ، تخصص صنعت عمیق و یک شبکه جهانی از منابع ، این شرکت ها
                                        به مشتریان اجازه دهید تا فرصت ها را به دست آورند.
                                    </p>
                                </div>
                                <div class="author-blockquote">
                                    <div class="quote-icon">
                                        <i class="fa-light fa-quote-right">
                                        </i>
                                    </div>
                                    <div class="quote-content">
                                        <p class="text">
                                            "ما قیمت های رقابتی را ارائه می دهیم و ارزش استثنایی را ارائه می دهیم
                                            <br />
                                            برای سرمایه گذاری شما هدف ما کمک به "
                                        </p>
                                        <div class="author">
                                            <h3 class="name">
                                                باربد باباخانی
                                            </h3>
                                            <span class="post">
                                                نویسنده برتر
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="text-wrapper">
                                    <p class="text">
                                        به طور حرفه ای آمادگی وب را در مقابل یک ویزین دنبال کنید
                                        زیرساخت ها
                                        سیستم های مبتنی بر مشتری را به راحتی با منابع کلید در دست هدف قرار دهید. سندیکای
                                        مشترک
                                        فرصت های متمرکز برای تحویل های تعاملی. با قاطعیت مبتنی بر مشتری
                                        Infomediaries از طریق MindShare مشترک. خدمات متا را به طور کامل ایجاد کنید
                                        از طریق ویژگی های قانع کننده.
                                    </p>
                                </div>
                                <div class="gallery-wrapper">
                                    <img alt="image" src="assets/imgs/blog/blog-19.webp" />
                                    <img alt="image" src="assets/imgs/blog/blog-20.webp" />
                                    <img alt="image" src="assets/imgs/blog/blog-21.webp" />
                                </div>
                                <div class="text-wrapper">
                                    <p class="text">
                                        پس از محتوای کلید در دست ، به سرعت داده های کووالانسی را بسازید. به طور متمایز
                                        قابل درک است
                                        استراتژی های رشد سفارشی از طریق پتانسیل های آینده نگر. حرفه ای دنبال کنید
                                        آمادگی وب برش در مقابل یکسان فقط در زیرساخت های زمانی. به راحتی هدف
                                        سیستم های مبتنی بر مشتری با منابع کلید در دست.
                                    </p>
                                    <p class="text">
                                        به طور مشترک سندیکا فرصت های متمرکز برای تحویل های تعاملی.
                                        با قاطعیت شروع می کنید Infomediaries مبتنی بر مشتری از طریق MindShare مشترک
                                        ایجاد کنید
                                        خدمات متا و لبه های خونریزی
                                    </p>
                                </div>
                                <div class="tags-wrapper-box">
                                    <div class="tags-wrapper">
                                        <span class="title">
                                            برچسب ها
                                        </span>
                                        <div class="tags">
                                            <span class="tag">
                                                راه حل تجاری ،
                                            </span>
                                            <span class="tag">
                                                رشد
                                            </span>
                                        </div>
                                    </div>
                                    <div class="social-wrapper">
                                        <span class="title">
                                            سوشال مدیا
                                        </span>
                                        <div class="blog-social">
                                            <a href="https://www.facebook.com/">
                                                <i class="fa-brands fa-facebook-f">
                                                </i>
                                            </a>
                                            <a href="https://x.com/?lang=en">
                                                <i class="fa-brands fa-twitter">
                                                </i>
                                            </a>
                                            <a href="https://www.instagram.com/">
                                                <i class="fa-brands fa-instagram">
                                                </i>
                                            </a>
                                            <a href="https://dribbble.com/">
                                                <i class="fa-regular fa-basketball">
                                                </i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </article>
                        <div class="post-navigation">
                            <div class="post-nav-shape">
                                <img alt="image" src="assets/imgs/shape/shape-25.webp" />
                            </div>
                            <div class="prev-post">
                                <div class="nav-post">
                                    <div class="thumb">
                                        <a href="blog-details.html">
                                            <img alt="image" src="assets/imgs/blog/blog-22.webp" />
                                        </a>
                                    </div>
                                </div>
                                <h3 class="title">
                                    پست قبلی
                                </h3>
                            </div>
                            <div class="next-post">
                                <div class="nav-post">
                                    <div class="thumb">
                                        <a href="blog-details.html">
                                            <img alt="image" src="assets/imgs/blog/blog-23.webp" />
                                        </a>
                                    </div>
                                </div>
                                <h3 class="title">
                                    پست بعدی
                                </h3>
                            </div>
                        </div>
                        <div class="author-message">
                            <div class="thumb">
                                <img alt="image" src="assets/imgs/client/client-18.webp" />
                            </div>
                            <div class="author-content">
                                <div class="author">
                                    <h3 class="name">
                                        باربد باباخانی
                                    </h3>
                                    <span class="post">
                                        نویسنده
                                    </span>
                                </div>
                                <p class="text">
                                    مشاهده پروژه های بیشتر
                                </p>
                            </div>
                        </div>
                        <div class="comments-wrapper-box">
                            <h3 class="comment-header-title">
                                3 نظر
                            </h3>
                            <div class="comments-wrapper">
                                <div class="comment-box">
                                    <div class="thumb">
                                        <img alt="image" src="assets/imgs/client/client-19.webp" />
                                    </div>
                                    <div class="content">
                                        <button class="reply-btn">
                                            پاسخ
                                            <i class="fa-regular fa-reply"
                                                style="transform: rotate(180deg) rotateX(180deg);">
                                            </i>
                                        </button>
                                        <span class="date">
                                            ۱۰ تیر ۱۴۰۴
                                        </span>
                                        <h3 class="name">
                                            دانیال دهدشتی
                                        </h3>
                                        <p class="text">
                                            به طور مشترک توانمند سازی تجارت الکترونیکی چند منظوره برای آینده نگر
                                            برنامه ها در حالی که سناریوهای هم افزایی.
                                        </p>
                                    </div>
                                </div>
                                <div class="comment-box replied">
                                    <div class="thumb">
                                        <img alt="image" src="assets/imgs/client/client-20.webp" />
                                    </div>
                                    <div class="content">
                                        <button class="reply-btn">
                                            پاسخ
                                            <i class="fa-regular fa-reply"
                                                style="transform: rotate(180deg) rotateX(180deg);">
                                            </i>
                                        </button>
                                        <span class="date">
                                            ۱۰ تیر ۱۴۰۴
                                        </span>
                                        <h3 class="name">
                                            نسترن سلطانی
                                        </h3>
                                        <p class="text">
                                            همکاری الکترونیکی چند منظوره را برای کاربرد آینده نگر توانمندسازی کنید
                                            بی رحمانه تولید می کند
                                        </p>
                                    </div>
                                </div>
                                <div class="comment-box">
                                    <div class="thumb">
                                        <img alt="image" src="assets/imgs/client/client-21.webp" />
                                    </div>
                                    <div class="content">
                                        <button class="reply-btn">
                                            پاسخ
                                            <i class="fa-regular fa-reply"
                                                style="transform: rotate(180deg) rotateX(180deg);">
                                            </i>
                                        </button>
                                        <span class="date">
                                            ۱۰ تیر ۱۴۰۴
                                        </span>
                                        <h3 class="name">
                                            سپهر سبحانی
                                        </h3>
                                        <p class="text">
                                            به طور مشترک توانمند سازی تجارت الکترونیکی چند منظوره برای آینده نگر
                                            برنامه ها در حالی که سناریوهای هم افزایی.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="comment-form-wrapper-box">
                            <div class="comment-form-wrapper">
                                <h3 class="comment-form-title">
                                    پاسخ دهید
                                </h3>
                                <div class="comment-form-box">
                                    <form action="#">
                                        <div class="comment-formwrap">
                                            <div class="comment-formfield">
                                                <input id="Name" name="Name" placeholder="نام شما" type="text" />
                                                <i class="fa-regular fa-user">
                                                </i>
                                            </div>
                                            <div class="comment-formfield">
                                                <input id="Email" name="Email" placeholder="آدرس ایمیل" type="text" />
                                                <i class="fa-regular fa-envelope">
                                                </i>
                                            </div>
                                            <div class="comment-formfield span-2">
                                                <textarea id="message" name="message"
                                                    placeholder="در مورد پروژه خود برای ما بگویید ..."></textarea>
                                                <i class="fa-regular fa-pen">
                                                </i>
                                            </div>
                                        </div>
                                        <div class="submit-btn">
                                            <button class="rr-btn" type="submit">
                                                <span class="btn-wrap">
                                                    <span class="text-one">
                                                        ارسال نظر
                                                    </span>
                                                    <span class="text-two">
                                                        ارسال نظر
                                                    </span>
                                                </span>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="blog-sidebar-wrapper-box">
                    <div class="blog-sidebar-wrapper fade-anim">
                        <div class="blog-sidebar-box">
                            <h3 class="sidebar-title">
                                اینجا جستجو کنید
                            </h3>
                            <div class="sidebar-search-box">
                                <form action="#" class="sidebar-search-form">
                                    <div class="input-field">
                                        <input placeholder="ایمیل خود را وارد کنید" type="email" />
                                        <button class="search-btn" type="submit">
                                            <i class="fa-solid fa-magnifying-glass">
                                            </i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="blog-sidebar-box">
                            <h3 class="sidebar-title">
                                پست های اخیر
                            </h3>
                            <div class="sidebar-blog-wrapper-box">
                                <div class="sidebar-blog-wrapper">
                                    <article class="sidebar-blog">
                                        <div class="thumb">
                                            <a href="blog-details.html">
                                                <img alt="blog image" src="assets/imgs/blog/blog-15.webp" />
                                            </a>
                                        </div>
                                        <div class="content">
                                            <div class="meta">
                                                <span class="author">
                                                    <i class="fa-regular fa-user">
                                                    </i>
                                                    توسط امیرارسلان رهنما
                                                </span>
                                            </div>
                                            <h2 class="title">
                                                <a href="blog-details.html">
                                                    راهنمای نهایی برای انتخاب
                                                    درست ارائه دهنده خدمات فناوری اطلاعات
                                                </a>
                                            </h2>
                                        </div>
                                    </article>
                                    <article class="sidebar-blog">
                                        <div class="thumb">
                                            <a href="blog-details.html">
                                                <img alt="blog image" src="assets/imgs/blog/blog-16.webp" />
                                            </a>
                                        </div>
                                        <div class="content">
                                            <div class="meta">
                                                <span class="author">
                                                    <i class="fa-regular fa-user">
                                                    </i>
                                                    توسط امیرارسلان رهنما
                                                </span>
                                            </div>
                                            <h2 class="title">
                                                <a href="blog-details.html">
                                                    چرا پشتیبان گیری داده ها و فاجعه
                                                    بازیابی غیر قابل مذاکره است
                                                </a>
                                            </h2>
                                        </div>
                                    </article>
                                    <article class="sidebar-blog">
                                        <div class="thumb">
                                            <a href="blog-details.html">
                                                <img alt="blog image" src="assets/imgs/blog/blog-17.webp" />
                                            </a>
                                        </div>
                                        <div class="content">
                                            <div class="meta">
                                                <span class="author">
                                                    <i class="fa-regular fa-user">
                                                    </i>
                                                    توسط امیرارسلان رهنما
                                                </span>
                                            </div>
                                            <h2 class="title">
                                                <a href="blog-details.html">
                                                    آنچه شرکت های در حال رشد نیاز دارند
                                                    دانستن
                                                </a>
                                            </h2>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                        <div class="blog-sidebar-box">
                            <h3 class="sidebar-title">
                                دسته
                            </h3>
                            <div class="sidebar-category-box">
                                <ul class="sidebar-category-list">
                                    <li>
                                        <a href="blog.html">
                                            راه حل
                                            <i class="fa-solid fa-arrow-left">
                                            </i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="blog.html">
                                            بازاریابی سئو
                                            <i class="fa-solid fa-arrow-left">
                                            </i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="blog.html">
                                            توسعه وب سایت
                                            <i class="fa-solid fa-arrow-left">
                                            </i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="blog.html">
                                            راه حل ابری
                                            <i class="fa-solid fa-arrow-left">
                                            </i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="blog.html">
                                            بازاریابی شبکه
                                            <i class="fa-solid fa-arrow-left">
                                            </i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="blog-sidebar-box">
                            <h3 class="sidebar-title">
                                گالری
                            </h3>
                            <div class="sidebar-gallery-box">
                                <div class="sidebar-gallery-wrapper">
                                    <img alt="image" src="assets/imgs/gallery/gallery-39.webp" />
                                    <img alt="image" src="assets/imgs/gallery/gallery-40.webp" />
                                    <img alt="image" src="assets/imgs/gallery/gallery-41.webp" />
                                    <img alt="image" src="assets/imgs/gallery/gallery-42.webp" />
                                    <img alt="image" src="assets/imgs/gallery/gallery-43.webp" />
                                    <img alt="image" src="assets/imgs/gallery/gallery-44.webp" />
                                </div>
                            </div>
                        </div>
                        <div class="blog-sidebar-box">
                            <h3 class="sidebar-title">
                                برچسب های محبوب
                            </h3>
                            <div class="sidebar-tags-box">
                                <div class="sidebar-tags">
                                    <a class="tag" href="blog.html">
                                        مشورت
                                    </a>
                                    <a class="tag" href="blog.html">
                                        نویسنده
                                    </a>
                                    <a class="tag" href="blog.html">
                                        مشاوره
                                    </a>
                                    <a class="tag" href="blog.html">
                                        خیانت
                                    </a>
                                    <a class="tag" href="blog.html">
                                        خانواده
                                    </a>
                                    <a class="tag" href="blog.html">
                                        سلامت
                                    </a>
                                    <a class="tag" href="blog.html">
                                        داوری
                                    </a>
                                    <a class="tag" href="blog.html">
                                        راه حل
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- blog-details area end  -->
</main>

{% endblock content %}