{% extends 'base.html' %}
{% load static %}

{% block title %}وبلاگ{% endblock title %}

{% block content %}

<main>
    <!-- breadcrumb area start -->
    <section class="breadcrumb-area">
        <div class="breadcrumb-area-inner">
            <div class="breadcrumb-bg">
                <img alt="image" src="{% static 'imgs/gallery/gallery-29.webp' %}" />
            </div>
            <div class="container rr-container-1410">
                <div class="breadcrumb-content">
                    <div class="title-wrapper">
                        <h1 class="breadcrumb-title">
                            آخرین وبلاگ های ما
                        </h1>
                    </div>
                    <div class="breadcrumb-wrapper">
                        <ul class="rr-breadcrumb">
                            <li>
                                <a href="{% url 'pages:home' %}">
                                    خانه
                                </a>
                            </li>
                            <li>
                                وبلاگ
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- breadcrumb area end -->
    <!-- blog-list area start  -->
    <div class="blog-list-area">
        <div class="container rr-container-1410">
            <div class="blog-list-area-inner section-spacing">
                <div class="blog-list-wrapper-box">
                    <div class="blog-list-wrapper">
                        {% for blog in blogs %}
                        <article class="blog-4 fade-anim">
                            <div class="thumb">
                                <a href="{% url 'blogs:blog_detail' blog.slug %}">
                                    <img alt="blog image" src="{{ blog.photo.url }}" />
                                </a>
                            </div>
                            <div class="content">
                                <div class="meta">
                                    <span class="date">
                                        <i class="fa-regular fa-calendar">
                                        </i>
                                        {{ blog.datetime_modified|date:"Y/m/d" }}
                                    </span>
                                    <span class="author">
                                        <i class="fa-regular fa-user">
                                        </i>
                                        {{blog.author}}
                                    </span>
                                </div>
                                <h2 class="title">
                                    <a href="{% url 'blogs:blog_detail' blog.slug %}">
                                        {{ blog.title }}
                                    </a>
                                </h2>
                                <p class="text">
                                    {{ blog.content|truncatewords:20 }}
                                </p>
                                <a class="rr-btn" href="{% url 'blogs:blog_detail' blog.slug %}">
                                    <span class="btn-wrap">
                                        <span class="text-one">
                                            جزئیات را بخوانید
                                            <i class="fa-solid fa-angles-left">
                                            </i>
                                        </span>
                                        <span class="text-two">
                                            جزئیات را بخوانید
                                            <i class="fa-solid fa-angles-left">
                                            </i>
                                        </span>
                                    </span>
                                </a>
                            </div>
                        </article>
                        {% empty %}
                        <div class="blog-empty-state">
                            <span class="blog-empty-state-icon">
                                <i class="fa-regular fa-folder-open"></i>
                            </span>
                            <p class="blog-empty-state-text">
                                محتوایی با این دسته بندی یافت نشد!
                            </p>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="blog-list-footer">
                        <div class="rr-pagination fade-anim">
                            {% if page_obj.has_previous %}
                                <a href="?page={{ page_obj.previous_page_number }}&sort={{ request.GET.sort }}&q={{ request.GET.q }}">
                                    <i class="fa-solid fa-angles-right">
                                    </i>
                                </a>
                            {% endif %}
                            <a href="?page={{ page_obj.number}}&sort={{ request.GET.sort }}&q={{ request.GET.q }}">
                                {{ page_obj.number }}
                            
                            </a>
                            {% if page_obj.has_next %}
                                <a href="?page={{page_obj.next_page_number}}&sort={{ request.GET.sort }}&q={{ request.GET.q }}">
                                    <i class="fa-solid fa-angles-left">
                                    </i>
                                </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="blog-sidebar-wrapper-box">
                    <div class="blog-sidebar-wrapper fade-anim">
                        <div class="blog-sidebar-box">
                            <h3 class="sidebar-title">
                                اینجا جستجو کنید
                            </h3>
                            <div class="sidebar-search-box">
                                <form action="{% url 'blogs:blog' %}" class="sidebar-search-form" method="get">
                                {% csrf_token %}
                                    <div class="input-field">
                                        <input placeholder="جستجو ..." type="text" name="q" value="{{ request.GET.q }}" />
                                        <button class="search-btn" type="submit">
                                            <i class="fa-solid fa-magnifying-glass">
                                            </i>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="blog-sidebar-box">
                            <h3 class="sidebar-title">
                                پست های اخیر
                            </h3>
                            <div class="sidebar-blog-wrapper-box">
                                <div class="sidebar-blog-wrapper">
                                    {% for blog in recent_blogs %}
                                    <article class="sidebar-blog">
                                        <div class="thumb">
                                            <a href="{% url 'blogs:blog_detail' blog.slug %}">
                                                <img alt="blog image" src="{{ blog.photo.url }}" />
                                            </a>
                                        </div>
                                        <div class="content">
                                            <div class="meta">
                                                <span class="author">
                                                    <i class="fa-regular fa-user">
                                                    </i>
                                                    {{blog.author}}
                                                </span>
                                            </div>
                                            <h2 class="title">
                                                <a href="{% url 'blogs:blog_detail' blog.slug %}">
                                                    {{ blog.title }}
                                                </a>
                                            </h2>
                                        </div>
                                    </article>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>

                        <div class="blog-sidebar-box">
                            <h3 class="sidebar-title">
                              دسته بندی ها
                            </h3>
                            <div class="sidebar-category-box">
                                <ul class="sidebar-category-list">
                                    {% for category in categories %}
                                    <li>
                                        <a href="?sort={{ category.slug }}">
                                            {{ category.name }}
                                            <i class="fa-solid fa-arrow-left">
                                            </i>
                                        </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- blog-list area end  -->
</main>
{% endblock content %}