{% extends 'base.html' %}
{% load static %}


{% block title %}تماس با ما{% endblock title %}


{% block content %}

<main>
	 <!-- breadcrumb area start -->
	 <section class="breadcrumb-area">
	  <div class="breadcrumb-area-inner">
	   <div class="breadcrumb-bg">
		<img alt="image" src="{% static 'imgs/gallery/gallery-29.webp' %}"/>
	   </div>
	   <div class="container rr-container-1410">
		<div class="breadcrumb-content">
		 <div class="title-wrapper">
		  <h1 class="breadcrumb-title">
		   با ما تماس بگیرید
		  </h1>
		 </div>
		 <div class="breadcrumb-wrapper">
		  <ul class="rr-breadcrumb">
		   <li>
			<a href="{% url 'pages:home' %}">
			 خانه
			</a>
		   </li>
		   <li>
			تماس با ما
		   </li>
		  </ul>
		 </div>
		</div>
	   </div>
	  </div>
	 </section>
	 <!-- breadcrumb area end -->
	 <!-- contact area start  -->
	 <div class="contact-area">
	  <div class="container rr-container-1410">
	   <div class="contact-area-inner section-spacing">
		<div class="contact-wrapper">
		 <div class="contact-box fade-anim">
		  <div class="thumb">
		   <div class="icon">
			<i class="fa-solid fa-location-dot">
			</i>
		   </div>
		   <img alt="image" src="{% static 'imgs/gallery/gallery-45.webp' %}"/>
		  </div>
		  <div class="contact-text">
		   <div class="link">
			آدرس ما:
		   </div>
		   <p class="text">
			تهران ، احمد آباد مستوفی
		   </p>
		  </div>
		 </div>
		 <div class="contact-box fade-anim">
		  <div class="thumb">
		   <div class="icon">
			<i class="fa-solid fa-envelope">
			</i>
		   </div>
		   <img alt="image" src="{% static 'imgs/gallery/gallery-46.webp' %}"/>
		  </div>
		  <div class="contact-text">
		   <div class="link">
			<a href="mailto:jahansang20@gmail.com">
			 jahansang20@gmail.com
			</a>
		   </div>
		   <p class="text">
			در هر زمان برای هر نوع پرس و جو با ما در ارتباط باشید
		   </p>
		  </div>
		 </div>
		 <div class="contact-box fade-anim">
		  <div class="thumb">
		   <div class="icon">
			<i class="fa-solid fa-phone-volume">
			</i>
		   </div>
		   <img alt="image" src="{% static 'imgs/gallery/gallery-47.webp' %}"/>
		  </div>
		  <div class="contact-text">
		   <div class="link">
			خط تلفن:
			<a href="tel:09123108563">
			09123108563
			</a>
		   </div>
		   <p class="text">
			میتوانید با ما در هر زمان تلفنی در ارتباط باشید
		   </p>
		  </div>
		 </div>
		</div>
		<div class="contact-form-wrapper-box fade-anim">
		 <div class="contact-form-wrapper">
		  <div class="contact-form-content">
		   <div class="section-title-wrapper">
			<div class="subtitle-wrapper">
			 <span class="section-subtitle">
			  <span class="start-shape">
			  </span>
			  <span class="text">
			   با ما در ارتباط باشید
			  </span>
			  <span class="end-shape">
			  </span>
			 </span>
			</div>
			<div class="title-wrapper">
			 <h2 class="section-title">
			  ارتباط با واحد پشتیبانی و مشاوره جهان سنگ
			  <br/>
			 
			 </h2>
			</div>
		   </div>
		   <div class="main-contact-wrap">
			<form action="#">
			 <div class="contact-formwrap">
			  <div class="contact-formfield">
			   <input id="Name" name="Name" placeholder="نام " type="text"/>
			   <i class="fa-regular fa-user">
			   </i>
			  </div>
			  <div class="contact-formfield">
			   <input id="Email" name="L_name" placeholder="نام خانوادگی " type="text"/>
			   <i class="fa-regular fa-envelope">
			   </i>
			  </div>
			  <div class="contact-formfield">
			   <input id="Phone" name="Phone" placeholder="تلفن " type="text"/>
			   <i class="fa-regular fa-phone">
			   </i>
			  </div>
			  <div class="contact-formfield">
			   <input id="Email" name="Email" placeholder="ایمیل " type="text"/>
			   <i class="fa-regular fa-envelope">
			   </i>
			  </div>
			  <div class="contact-formfield span-2">
			   <textarea id="message" name="message" placeholder="در مورد پروژه خود برای ما بگویید ..."></textarea>
			   <i class="fa-regular fa-pen">
			   </i>
			  </div>
			 </div>
			 <div class="submit-btn">
			  <button class="rr-btn" type="submit">
			   <span class="btn-wrap">
				<span class="text-one">
				 ارسال 
				 <i class="fa-solid fa-arrow-left">
				 </i>
				</span>
				<span class="text-two">
				 ارسال 
				 <i class="fa-solid fa-arrow-left">
				 </i>
				</span>
			   </span>
			  </button>
			 </div>
			</form>
		   </div>
		  </div>
		  <div class="contact-map">
		   <iframe allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d405.1540295287369!2d51.22141836429457!3d35.67128324656884!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sru!4v1783878848529!5m2!1sen!2sru" style="border:0;">
			</iframe>
		  </div>
		 </div>
		</div>
	   </div>
	  </div>
	 </div>
	 <!-- contact area end  -->
	</main>

{% endblock content %}