{% extends 'base.html' %}
{% load static %}

{% block title %} خانه {% endblock title %}

{% block content %}
	<main>
	 <!-- hero area start  -->
	 <section class="hero-2-area">
	  <div class="hero-2-bg">
	   <img alt="image" src="{% static 'imgs/shape/shape-6.webp' %}"/>
	  </div>
	  <div class="container rr-container-1410">
	   <div class="hero-2-inner">
		<div class="hero2-shape-1" data-speed="0.8">
		</div>
		<div class="hero2-shape-2">
		</div>
		<div class="hero2-shape-3">
		</div>
		<div class="hero-2-content">
		 <div class="hero-2-title-wrapper fade-anim">
		  <div class="title-wrapper">
		   <h1 class="hero-2-title">
			شکوه طبیعت در قلب خانه شما، با ما آشپزخانه‌ای بی‌نظیر خلق کنید
		   </h1>
		  </div>
		 </div>
		 <div class="text-wrapper fade-anim">
		  <p class="text">
		   طراحی، برش و اجرای تخصصی انواع صفحات کابینت، کانتر و جزیره با بهره‌گیری از باکیفیت‌ترین سنگ‌های طبیعی و مصنوعی
		  </p>
		 </div>
		 <div class="btn-wrapper fade-anim">
		  <a class="rr-btn" href="service.html">
		   <span class="btn-wrap">
			<span class="text-one">
			مشاهده پروژه ها
			</span>
			<span class="text-two">
				مشاهده پروژه ها
			</span>
		   </span>
		  </a>
		  <a class="rr-btn btn-white" href="contact.html">
		   <span class="btn-wrap">
			<span class="text-one">
			 رزرو مشاوره
			</span>
			<span class="text-two">
			 رزرو مشاوره
			</span>
		   </span>
		  </a>
		 </div>
		</div>
		<div class="hero-2-thumb-wrapper fade-anim">
		 <img alt="image" class="thumb-shape-1" data-speed="0.95" src="{% static 'imgs/shape/shape-7.webp' %}"/>
		 <img alt="image" class="thumb-shape-2" src="{% static 'imgs/shape/shape-8.webp' %}"/>
		 <img alt="image" class="thumb-shape-3" src="{% static 'imgs/gallery/gallery-9.webp' %}"/>
		</div>
	   </div>
	  </div>
	 </section>
	 <!-- hero area end  -->
	 <!-- counter area start  -->
	 <div class="counter-area">
	  <div class="container rr-container-1410">
	   <div class="counter-area-inner">
		<div class="counter-wrapper-box">
		 <div class="counter-wrapper">
		  <div class="counter-box fade-anim">
		   <div class="icon">
			<img alt="image" src="{% static 'imgs/icon/icon-8.webp' %}"/>
		   </div>
		   <div class="content">
			<div class="title">
			 <span class="number odometer" data-count="53">
			  +30
			 </span>
			 سال
			</div>
			<p class="text">
			 سابقه اثبات شده
			</p>
		   </div>
		  </div>
		  <div class="counter-box fade-anim">
		   <div class="icon">
			<img alt="image" src="{% static 'imgs/icon/icon-9.webp' %}"/>
		   </div>
		   <div class="content">
			<div class="title">
			 <span class="number odometer" data-count="59">
			  0
			 </span>
			 درصد
			</div>
			<p class="text">
			 رضایت مشتری
			</p>
		   </div>
		  </div>
		  <div class="counter-box fade-anim">
		   <div class="icon">
			<img alt="image" src="{% static 'imgs/icon/icon-10.webp' %}"/>
		   </div>
		   <div class="content">
			<div class="title">
			 <span class="number odometer" data-count="+535">
			  0
			 </span>
			 پروژه
			</div>
			<p class="text">
			 موفق
			</p>
		   </div>
		  </div>
		  <div class="counter-box fade-anim">
		   <div class="icon">
			<img alt="image" src="{% static 'imgs/icon/icon-11.webp' %}"/>
		   </div>
		   <div class="content">
			<div class="title">
			 <span class="number odometer" data-count="1">
			  0
			 </span>
			 ساعت
			</div>
			<p class="text">
			زمان متوسط پاسخگویی
			</p>
		   </div>
		  </div>
		 </div>
		</div>
	   </div>
	  </div>
	 </div>
	 <!-- counter area end  -->
	 <!-- service area start -->
	 <section class="service-2-area">
	  <div class="container rr-container-1410">
	   <div class="service-2-area-inner section-spacing">
		<div class="service-2-header fade-anim">
		 <div class="section-title-wrapper">
		  <div class="subtitle-wrapper">
		   <span class="section-subtitle">
			<span class="start-shape">
			</span>
			<span class="text">
			 خدمات ما
			</span>
			<span class="end-shape">
			</span>
		   </span>
		  </div>
		  <div class="title-wrapper">
		   <h2 class="section-title">
			ما خدمات درجه یک را ارائه می دهیم
		   </h2>
		  </div>
		 </div>
		</div>
		<div class="services-2-wrapper-box fade-anim">
		 <div class="services-2-wrapper">
		  <div class="swiper service-2-active">
		   <div class="swiper-wrapper">
			<div class="swiper-slide">
			 <div class="service-2-box">
			  <div class="area-bg">
			   <img alt="image" src="{% static 'imgs/shape/shape-10.webp' %}"/>
			  </div>
			  <div class="thumb">
			   <div class="service-logo">
				<img alt="image" src="{% static 'imgs/icon/icon-12.webp' %}"/>
			   </div>
			  </div>
			  <div class="content">
			   <h3 class="title">
				<a href="service-details.html">
				 خدمات فناوری اطلاعات
				</a>
			   </h3>
			   <p class="text">
				مشتریان ما در قلب هر کاری که انجام می دهیم قرار دارند. ما نیازهای آنها را در اولویت قرار می دهیم ،
							  به نگرانی های آنها گوش دهید و به طور مشترک کار کنید.
			   </p>
			   <a class="rr-btn" href="service-details.html">
				<span class="btn-wrap">
				 <span class="text-one">
				  مشاهده خدمات
				 </span>
				 <span class="text-two">
				  مشاهده خدمات
				 </span>
				</span>
			   </a>
			  </div>
			 </div>
			</div>
			<div class="swiper-slide">
			 <div class="service-2-box">
			  <div class="area-bg">
			   <img alt="image" src="{% static 'imgs/shape/shape-10.webp' %}"/>
			  </div>
			  <div class="thumb">
			   <div class="service-logo">
				<img alt="image" src="{% static 'imgs/icon/icon-13.webp' %}"/>
			   </div>
			  </div>
			  <div class="content">
			   <h3 class="title">
				<a href="service-details.html">
				 خدمات ابری
				</a>
			   </h3>
			   <p class="text">
				مشتریان ما در قلب هر کاری که انجام می دهیم قرار دارند. ما نیازهای آنها را در اولویت قرار می دهیم ،
							  به نگرانی های آنها گوش دهید و به طور مشترک کار کنید.
			   </p>
			   <a class="rr-btn" href="service-details.html">
				<span class="btn-wrap">
				 <span class="text-one">
				  مشاهده خدمات
				 </span>
				 <span class="text-two">
				  مشاهده خدمات
				 </span>
				</span>
			   </a>
			  </div>
			 </div>
			</div>
			<div class="swiper-slide">
			 <div class="service-2-box">
			  <div class="area-bg">
			   <img alt="image" src="{% static 'imgs/shape/shape-10.webp' %}"/>
			  </div>
			  <div class="thumb">
			   <div class="service-logo">
				<img alt="image" src="{% static 'imgs/icon/icon-12.webp' %}"/>
			   </div>
			  </div>
			  <div class="content">
			   <h3 class="title">
				<a href="service-details.html">
				 خدمات فناوری اطلاعات
				</a>
			   </h3>
			   <p class="text">
				مشتریان ما در قلب هر کاری که انجام می دهیم قرار دارند. ما نیازهای آنها را در اولویت قرار می دهیم ،
							  به نگرانی های آنها گوش دهید و به طور مشترک کار کنید.
			   </p>
			   <a class="rr-btn" href="service-details.html">
				<span class="btn-wrap">
				 <span class="text-one">
				  مشاهده خدمات
				 </span>
				 <span class="text-two">
				  مشاهده خدمات
				 </span>
				</span>
			   </a>
			  </div>
			 </div>
			</div>
		   </div>
		  </div>
		  <div class="service-2-nav">
		   <div class="service-2-button-prev service-2-nav-btn">
			<i class="fa-solid fa-arrow-right">
			</i>
		   </div>
		   <div class="service-2-button-next service-2-nav-btn">
			<i class="fa-solid fa-arrow-left">
			</i>
		   </div>
		  </div>
		 </div>
		</div>
	   </div>
	  </div>
	 </section>
	 <!-- service area end -->
	 <div class="about-process-group">
	  <div class="about-process-group-bg">
	   <div class="area-shape-1" data-speed="0.7">
		<img alt="image" src="{% static 'imgs/shape/shape-12.webp' %}"/>
	   </div>
	   <div class="area-shape-2" data-speed="0.8">
		<img alt="image" src="{% static 'imgs/shape/shape-13.webp' %}"/>
	   </div>
	   <img alt="image" src="{% static 'imgs/shape/shape-11.webp' %}"/>
	  </div>
	  <!-- about-2 area start  -->
	  <section class="about-2-area">
	   <div class="container rr-container-1410">
		<div class="about-2-area-inner section-spacing-top">
		 <div class="about-2-thumb-wrapper fade-anim" data-direction="left">
		  <div class="main-img img-reveal-anim">
		   <img alt="image" src="{% static 'imgs/gallery/gallery-10.webp' %}"/>
		  </div>
		  <div class="info-text" data-speed="0.9">
		   <div class="number">
			25
		   </div>
		   <p class="text">
			سالها تجربه
			<br/>
			در ساختمان استارتاپ
		   </p>
		  </div>
		 </div>
		 <div class="about-2-content fade-anim" data-direction="right">
		  <div class="section-title-wrapper">
		   <div class="subtitle-wrapper">
			<span class="section-subtitle">
			 <span class="start-shape">
			 </span>
			 <span class="text">
			  درباره کمپانی ما
			 </span>
			 <span class="end-shape">
			 </span>
			</span>
		   </div>
		   <div class="title-wrapper">
			<h2 class="section-title">
			 ما قابل اعتماد و امن هستیم
			 <br/>
			 وب سایت
			</h2>
		   </div>
		  </div>
		  <div class="text-wrapper">
		   <p class="text">
			یک تجارت فناوری اطلاعات با استفاده از فن آوری های پیشرفته مانند AI ، Cloud در نوآوری رونق می گیرد
					  محاسبات ، blockchain و امنیت سایبری برای ارائه راه حل های کارآمد و ضد آینده. نگهدار
					  با آخرین روندهای فنی ، مشاغل را تضمین می کند ...
		   </p>
		  </div>
		  <div class="feature-list">
		   <ul>
			<li>
			 <i class="fa-solid fa-circle-check">
			 </i>
			 راه حل پیشرو تجاری
			</li>
			<li>
			 <i class="fa-solid fa-circle-check">
			 </i>
			 تجارت بهترین برنامه است
			</li>
			<li>
			 <i class="fa-solid fa-circle-check">
			 </i>
			 خدماتی که ما ارائه می دهیم
			</li>
			<li>
			 <i class="fa-solid fa-circle-check">
			 </i>
			 راه حل پیشرو تجاری
			</li>
			<li>
			 <i class="fa-solid fa-circle-check">
			 </i>
			 تجارت بهترین برنامه است
			</li>
			<li>
			 <i class="fa-solid fa-circle-check">
			 </i>
			 خدماتی که ما ارائه می دهیم
			</li>
		   </ul>
		  </div>
		  <div class="btn-wrapper">
		   <div class="review-box">
			<div class="clients">
			 <img alt="image" src="{% static 'imgs/client/client-4.webp' %}"/>
			 <img alt="image" src="{% static 'imgs/client/client-5.webp' %}"/>
			 <img alt="image" src="{% static 'imgs/client/client-6.webp' %}"/>
			</div>
			<div class="info-text">
			 <div class="number">
			  1500+
			 </div>
			 <p class="text">
			  بررسی های فعال
			 </p>
			</div>
		   </div>
		   <a class="rr-btn" href="contact.html">
			<span class="btn-wrap">
			 <span class="text-one">
			  شروع کردن
			 </span>
			 <span class="text-two">
			  شروع کردن
			 </span>
			</span>
		   </a>
		  </div>
		 </div>
		</div>
	   </div>
	  </section>
	  <!-- about-2 area end  -->
	  <!-- process-2 area start  -->
	  <section class="process-2-area">
	   <div class="container rr-container-1410">
		<div class="process-2-area-inner section-spacing">
		 <div class="process-2-header fade-anim">
		  <div class="section-title-wrapper">
		   <div class="subtitle-wrapper">
			<span class="section-subtitle">
			 <span class="start-shape">
			 </span>
			 <span class="text">
			  فرآیند کار ما
			 </span>
			 <span class="end-shape">
			 </span>
			</span>
		   </div>
		   <div class="title-wrapper">
			<h2 class="section-title">
			 تبدیل ایده ها به راه حل های دیجیتال
			</h2>
		   </div>
		  </div>
		 </div>
		 <div class="process-2-wrapper-box">
		  <div class="process-2-wrapper">
		   <div class="process-2-box fade-anim">
			<div class="number">
			 مرحله 01
			</div>
			<div class="content">
			 <h3 class="title">
			  مشاوره وظیفه
			 </h3>
			</div>
			<div class="thumb">
			 <img alt="image" src="{% static 'imgs/gallery/gallery-11.webp' %}"/>
			</div>
			<div class="btn-wrapper">
			 <a class="rr-btn" href="about.html">
			  <span class="btn-wrap">
			   <span class="text-one">
				مشاهده جزئیات
			   </span>
			   <span class="text-two">
				مشاهده جزئیات
			   </span>
			  </span>
			 </a>
			</div>
		   </div>
		   <div class="process-2-box fade-anim">
			<div class="number">
			 مرحله 02
			</div>
			<div class="content">
			 <h3 class="title">
			  برنامه ریزی و پیشنهاد
			 </h3>
			</div>
			<div class="thumb">
			 <img alt="image" src="{% static 'imgs/gallery/gallery-12.webp' %}"/>
			</div>
			<div class="btn-wrapper">
			 <a class="rr-btn" href="about.html">
			  <span class="btn-wrap">
			   <span class="text-one">
				مشاهده جزئیات
			   </span>
			   <span class="text-two">
				مشاهده جزئیات
			   </span>
			  </span>
			 </a>
			</div>
		   </div>
		   <div class="process-2-box fade-anim">
			<div class="number">
			 مرحله 03
			</div>
			<div class="content">
			 <h3 class="title">
			  اجرای وظیفه
			 </h3>
			</div>
			<div class="thumb">
			 <img alt="image" src="{% static 'imgs/gallery/gallery-13.webp' %}"/>
			</div>
			<div class="btn-wrapper">
			 <a class="rr-btn" href="about.html">
			  <span class="btn-wrap">
			   <span class="text-one">
				مشاهده جزئیات
			   </span>
			   <span class="text-two">
				مشاهده جزئیات
			   </span>
			  </span>
			 </a>
			</div>
		   </div>
		   <div class="process-2-box fade-anim">
			<div class="number">
			 مرحله 04
			</div>
			<div class="content">
			 <h3 class="title">
			  بهبود کار
			 </h3>
			</div>
			<div class="thumb">
			 <img alt="image" src="{% static 'imgs/gallery/gallery-14.webp' %}"/>
			</div>
			<div class="btn-wrapper">
			 <a class="rr-btn" href="about.html">
			  <span class="btn-wrap">
			   <span class="text-one">
				مشاهده جزئیات
			   </span>
			   <span class="text-two">
				مشاهده جزئیات
			   </span>
			  </span>
			 </a>
			</div>
		   </div>
		  </div>
		 </div>
		</div>
	   </div>
	  </section>
	  <!-- process-2 area end  -->
	 </div>
	 <!-- appointment-2 area start  -->
	 <section class="appointment-2-area">
	  <div class="container rr-container-1410">
	   <div class="appointment-2-area-inner section-spacing">
		<div class="appointment-2-content fade-anim" data-direction="left">
		 <div class="section-title-wrapper">
		  <div class="subtitle-wrapper">
		   <span class="section-subtitle">
			<span class="start-shape">
			</span>
			<span class="text">
			 رزرو قرار ملاقات
			</span>
			<span class="end-shape">
			</span>
		   </span>
		  </div>
		  <div class="title-wrapper">
		   <h2 class="section-title">
			زمانی رزرو کنید که برای شما مفید باشد
					  آسان و بدون دردسر!
		   </h2>
		  </div>
		 </div>
		 <div class="text-wrapper">
		  <p class="text">
		   آماده هستید تا فناوری کسب و کار خود را به سطح بعدی برسانید؟ تیم متخصص ما اینجاست
					به شما در یافتن راه حل های مناسب متناسب با نیازهای خود کمک می کند.
		  </p>
		 </div>
		 <div class="features-wrapper-box">
		  <div class="features-wrapper">
		   <div class="feature-box">
			<div class="icon">
			 <img alt="image" src="{% static 'imgs/icon/icon-14.webp' %}"/>
			</div>
			<div class="content">
			 <h3 class="title">
			  بهبود برنامه ریزی تجاری خود
			 </h3>
			 <p class="text">
			  ما آینده ای را تصور می کنیم که مشتریان ما در صدر صنایع خود قرار دارند ،
						  تعیین استانداردهای جدید تعالی.
			 </p>
			</div>
		   </div>
		   <div class="feature-box">
			<div class="icon">
			 <img alt="image" src="{% static 'imgs/icon/icon-14.webp' %}"/>
			</div>
			<div class="content">
			 <h3 class="title">
			  بهبود برنامه ریزی تجاری خود
			 </h3>
			 <p class="text">
			  ما آینده ای را تصور می کنیم که مشتریان ما در صدر صنایع خود قرار دارند ،
						  تعیین استانداردهای جدید تعالی.
			 </p>
			</div>
		   </div>
		  </div>
		 </div>
		</div>
		<div class="appointment-2-contact-wrap fade-anim" data-direction="right">
		 <h3 class="contact-title">
		  خدمات خود را اینجا رزرو کنید
		 </h3>
		 <form action="#">
		  <div class="form-bg">
		   <img alt="image" src="{% static 'imgs/gallery/gallery-15.webp' %}"/>
		  </div>
		  <div class="appointment-2-formwrap">
		   <div class="appointment-2-formfield">
			<input id="Name" name="Name" placeholder="نام خانوادگی*" type="text"/>
		   </div>
		   <div class="appointment-2-formfield">
			<input id="L_Name" name="L_Name" placeholder="نام خانوادگی*" type="text"/>
		   </div>
		   <div class="appointment-2-formfield">
			<input id="Email" name="Email" placeholder="ایمیل شما*" type="text"/>
		   </div>
		   <div class="appointment-2-formfield">
			<input id="Phone" name="Phone" placeholder="شماره تلفن*" type="text"/>
		   </div>
		   <div class="appointment-2-formfield span-2">
			<input id="Url" name="Url" placeholder="URL وب سایت شما*" type="url"/>
		   </div>
		   <div class="appointment-2-formfield span-2 message">
			<textarea id="Message" name="Message" placeholder="پیام خود را اینجا بنویسید*"></textarea>
		   </div>
		  </div>
		  <div class="submit-btn">
		   <button class="rr-btn" type="submit">
			<span class="btn-wrap">
			 <span class="text-one">
			  اکنون پیام ارسال کنید
			 </span>
			 <span class="text-two">
			  اکنون پیام ارسال کنید
			 </span>
			</span>
		   </button>
		  </div>
		 </form>
		</div>
	   </div>
	  </div>
	 </section>
	 <!-- appointment-2 area end  -->
	 <!-- cta area stat  -->
	 <div class="cta-area fade-anim">
	  <div class="cta-area-bg">
	   <img alt="image" src="{% static 'imgs/gallery/gallery-16.webp' %}"/>
	  </div>
	  <div class="container rr-container-1410">
	   <div class="cta-area-inner">
		<div class="cta-info-box">
		 <p class="title">
		  قرار ملاقات کردن
		 </p>
		 <div class="client-group">
		  <img alt="image" src="{% static 'imgs/client/client-7.webp' %}"/>
		  <img alt="image" src="{% static 'imgs/client/client-8.webp' %}"/>
		  <img alt="image" src="{% static 'imgs/client/client-9.webp' %}"/>
		  <img alt="image" src="{% static 'imgs/client/client-10.webp' %}"/>
		  <img alt="image" src="{% static 'imgs/client/client-11.webp' %}"/>
		  <img alt="image" src="{% static 'imgs/client/client-12.webp' %}"/>
		 </div>
		 <div class="rating-box">
		  <div class="rating-star">
		   <i class="fa-solid fa-star">
		   </i>
		   <i class="fa-solid fa-star">
		   </i>
		   <i class="fa-solid fa-star">
		   </i>
		   <i class="fa-solid fa-star">
		   </i>
		   <i class="fa-solid fa-star">
		   </i>
		  </div>
		  <p class="text">
		   2960+ بررسی مشتری
		  </p>
		 </div>
		</div>
		<div class="cta-content">
		 <div class="section-title-wrapper">
		  <div class="title-wrapper">
		   <h2 class="section-title">
			هم اکنون قرار ملاقات را رزرو کنید
		   </h2>
		  </div>
		 </div>
		 <div class="text-wrapper">
		  <p class="text">
		   ما به ایجاد مشارکتهای بلند مدت با مشتریان خود اختصاص داده ایم و از آنها اطمینان حاصل می کنیم
					موفقیت در هر مرحله از سفر تجاری آنها.
		  </p>
		 </div>
		 <div class="btn-wrapper">
		  <a class="rr-btn" href="contact.html">
		   <span class="btn-wrap">
			<span class="text-one">
			 شروع کردن
			</span>
			<span class="text-two">
			 شروع کردن
			</span>
		   </span>
		  </a>
		 </div>
		</div>
		<div class="cta-down-option">
		 <span class="number">
		  56923215+
		 </span>
		 <p class="text">
		  احساس شاد فعال
		 </p>
		</div>
	   </div>
	  </div>
	 </div>
	 <!-- cta area end  -->
	 <!-- feature-1 area start  -->
	 <section class="feature-1-area">
	  <div class="container rr-container-1410">
	   <div class="feature-1-area-inner section-spacing">
		<div class="feature-1-content fade-anim" data-direction="left">
		 <div class="section-title-wrapper">
		  <div class="subtitle-wrapper">
		   <span class="section-subtitle">
			<span class="start-shape">
			</span>
			<span class="text">
			 چرا ما را انتخاب کنید
			</span>
			<span class="end-shape">
			</span>
		   </span>
		  </div>
		  <div class="title-wrapper">
		   <h2 class="section-title">
			چرا مردم دوست داشتند
			<br/>
			خدمات ما
		   </h2>
		  </div>
		 </div>
		 <div class="text-wrapper">
		  <p class="text">
		   مشتریان ما در قلب هر کاری که انجام می دهیم قرار دارند. ما نیازهای آنها را در اولویت قرار می دهیم ، گوش می دهیم
					نگرانی های آنها ، و کار مشترک برای ارائه راه حل های سفارشی که فراتر از انتظارات باشد.
		  </p>
		 </div>
		 <div class="btn-wrapper">
		  <a class="rr-btn" href="contact.html">
		   <span class="btn-wrap">
			<span class="text-one">
			 نقل قول کنید
			</span>
			<span class="text-two">
			 نقل قول کنید
			</span>
		   </span>
		  </a>
		 </div>
		</div>
		<div class="feature-1-wrapper-box">
		 <div class="feature-1-wrapper">
		  <div class="feature-1-box fade-anim">
		   <div class="icon">
			<img alt="image" src="{% static 'imgs/icon/icon-15.webp' %}"/>
		   </div>
		   <div class="content">
			<h3 class="title">
			 مکالمه در زمان واقعی
			</h3>
			<p class="text">
			 قبل از بی سیم شبکه تراز ویزا مغناطیسی را تصرف کنید در حالی که بدون اصطکاک است
			</p>
		   </div>
		  </div>
		  <div class="feature-1-box fade-anim">
		   <div class="icon">
			<img alt="image" src="{% static 'imgs/icon/icon-16.webp' %}"/>
		   </div>
		   <div class="content">
			<h3 class="title">
			 بصری چت شخصی
			</h3>
			<p class="text">
			 قبل از بی سیم شبکه تراز ویزا مغناطیسی را تصرف کنید در حالی که بدون اصطکاک است
			</p>
		   </div>
		  </div>
		  <div class="feature-1-box fade-anim">
		   <div class="icon">
			<img alt="image" src="{% static 'imgs/icon/icon-17.webp' %}"/>
		   </div>
		   <div class="content">
			<h3 class="title">
			 میزان پاسخ بالاتر
			</h3>
			<p class="text">
			 قبل از بی سیم شبکه تراز ویزا مغناطیسی را تصرف کنید در حالی که بدون اصطکاک است
			</p>
		   </div>
		  </div>
		 </div>
		</div>
	   </div>
	  </div>
	 </section>
	 <!-- feature-1 area end  -->
	 <!-- testimonial-2 area start -->
	 <section class="testimonial-2-area">
	  <div class="testimonial-2-area-bg">
	   <div class="area-shape-1">
		<img alt="image" src="{% static 'imgs/shape/shape-15.webp' %}"/>
	   </div>
	   <img alt="image" src="{% static 'imgs/shape/shape-14.webp' %}"/>
	  </div>
	  <div class="container rr-container-1410">
	   <div class="testimonial-2-area-inner section-spacing-top">
		<div class="testimonial-2-header fade-anim">
		 <div class="section-title-wrapper">
		  <div class="subtitle-wrapper">
		   <span class="section-subtitle">
			<span class="start-shape">
			</span>
			<span class="text">
			 بازخورد مشتریان
			</span>
			<span class="end-shape">
			</span>
		   </span>
		  </div>
		  <div class="title-wrapper">
		   <h2 class="section-title">
			تیم متخصص ما
		   </h2>
		  </div>
		 </div>
		</div>
	   </div>
	  </div>
	  <div class="testimonial-2-wrapper-box section-spacing-bottom fade-anim">
	   <div class="testimonial-2-wrapper">
		<div class="swiper testimonial-2-active">
		 <div class="swiper-wrapper">
		  <div class="swiper-slide">
		   <div class="testimonial-2-item">
			<div class="avatar">
			 <div class="icon">
			  <i class="fa-solid fa-quote-right">
			  </i>
			 </div>
			 <img alt="image" src="{% static 'imgs/client/client-13.webp' %}"/>
			</div>
			<div class="content">
			 <div class="author">
			  <div class="meta">
			   <h3 class="name">
				امیرارسلان رهنما
			   </h3>
			   <span class="post">
				پویتک ، COO از شرکت نوآوران فناوری
			   </span>
			  </div>
			 </div>
			 <div class="text-wrapper">
			  <p class="text">
			   "کار با Synvo یک تغییر دهنده بازی برای تجارت ما بوده است. تیم آنها گرفت
							زمان درک کامل چالش های منحصر به فرد ما و تحویل داده شده است. "
			  </p>
			 </div>
			 <div class="review-box">
			  <div class="site-review">
			   <img alt="image" src="{% static 'imgs/icon/icon-18.webp' %}"/>
			   4.8 بررسی سایت
			  </div>
			  <div class="google-review">
			   <img alt="image" src="{% static 'imgs/icon/icon-19.webp' %}"/>
			   4.8 بررسی Google
			  </div>
			 </div>
			</div>
		   </div>
		  </div>
		  <div class="swiper-slide">
		   <div class="testimonial-2-item">
			<div class="avatar">
			 <div class="icon">
			  <i class="fa-solid fa-quote-right">
			  </i>
			 </div>
			 <img alt="image" src="{% static 'imgs/client/client-14.webp' %}"/>
			</div>
			<div class="content">
			 <div class="author">
			  <div class="meta">
			   <h3 class="name">
				متین قدسی
			   </h3>
			   <span class="post">
				پویتک ، COO از شرکت نوآوران فناوری
			   </span>
			  </div>
			 </div>
			 <div class="text-wrapper">
			  <p class="text">
			   "کار با Synvo یک تغییر دهنده بازی برای تجارت ما بوده است. تیم آنها گرفت
							زمان درک کامل چالش های منحصر به فرد ما و تحویل داده شده است. "
			  </p>
			 </div>
			 <div class="review-box">
			  <div class="site-review">
			   <img alt="image" src="{% static 'imgs/icon/icon-18.webp' %}"/>
			   4.8 بررسی سایت
			  </div>
			  <div class="google-review">
			   <img alt="image" src="{% static 'imgs/icon/icon-19.webp' %}"/>
			   4.8 بررسی Google
			  </div>
			 </div>
			</div>
		   </div>
		  </div>
		  <div class="swiper-slide">
		   <div class="testimonial-2-item">
			<div class="avatar">
			 <div class="icon">
			  <i class="fa-solid fa-quote-right">
			  </i>
			 </div>
			 <img alt="image" src="{% static 'imgs/client/client-15.webp' %}"/>
			</div>
			<div class="content">
			 <div class="author">
			  <div class="meta">
			   <h3 class="name">
				نسترن سلطانی
			   </h3>
			   <span class="post">
				پویتک ، COO از شرکت نوآوران فناوری
			   </span>
			  </div>
			 </div>
			 <div class="text-wrapper">
			  <p class="text">
			   "کار با Synvo یک تغییر دهنده بازی برای تجارت ما بوده است. تیم آنها گرفت
							زمان درک کامل چالش های منحصر به فرد ما و تحویل داده شده است. "
			  </p>
			 </div>
			 <div class="review-box">
			  <div class="site-review">
			   <img alt="image" src="{% static 'imgs/icon/icon-18.webp' %}"/>
			   4.8 بررسی سایت
			  </div>
			  <div class="google-review">
			   <img alt="image" src="{% static 'imgs/icon/icon-19.webp' %}"/>
			   4.8 بررسی Google
			  </div>
			 </div>
			</div>
		   </div>
		  </div>
		 </div>
		</div>
	   </div>
	  </div>
	 </section>
	 <!-- testimonial-2 area end -->
	 <div class="faq-project-group">
	  <div class="faq-project-group-bg">
	   <img alt="image" src="{% static 'imgs/shape/shape-17.webp' %}"/>
	  </div>
	  <!-- faq area start  -->
	  <section class="faq-area">
	   <div class="container rr-container-1410">
		<div class="faq-area-inner section-spacing">
		 <div class="faq-thumb-wrapper fade-anim" data-direction="left">
		  <div class="faq-thumb-1 img-reveal-anim">
		   <img alt="image" src="{% static 'imgs/gallery/gallery-18.webp' %}"/>
		  </div>
		  <div class="faq-thumb-2">
		   <img alt="image" src="{% static 'imgs/gallery/gallery-19.webp' %}"/>
		  </div>
		 </div>
		 <div class="faq-content fade-anim" data-direction="right">
		  <div class="section-title-wrapper">
		   <div class="subtitle-wrapper">
			<span class="section-subtitle">
			 <span class="start-shape">
			 </span>
			 <span class="text">
			  سوالات متداول
			 </span>
			 <span class="end-shape">
			 </span>
			</span>
		   </div>
		   <div class="title-wrapper">
			<h2 class="section-title">
			 پرسش‌های متداول جامع و کاربردی
			</h2>
		   </div>
		  </div>
		  <div class="faq-accordion">
		   <div class="accordion" id="accordionExample">
			<div class="accordion-item">
			 <h2 class="accordion-header" id="headingOne">
			  <button aria-controls="collapseOne" aria-expanded="true" class="accordion-button" data-bs-target="#collapseOne" data-bs-toggle="collapse" type="button">
			   چه نوع خدمات فناوری اطلاعات را ارائه می دهید؟
			  </button>
			 </h2>
			 <div aria-labelledby="headingOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample" id="collapseOne">
			  <div class="accordion-body">
			   لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
			  </div>
			 </div>
			</div>
			<div class="accordion-item">
			 <h2 class="accordion-header" id="headingTwo">
			  <button aria-controls="collapseTwo" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#collapseTwo" data-bs-toggle="collapse" type="button">
			   چگونه خدمات فناوری اطلاعات شما می تواند تجارت من را بهبود بخشد؟
			  </button>
			 </h2>
			 <div aria-labelledby="headingTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="collapseTwo">
			  <div class="accordion-body">
			   لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
			  </div>
			 </div>
			</div>
			<div class="accordion-item">
			 <h2 class="accordion-header" id="headingThree">
			  <button aria-controls="collapseThree" aria-expanded="false" class="accordion-button collapsed" data-bs-target="#collapseThree" data-bs-toggle="collapse" type="button">
			   رویکرد شما به امنیت سایبری چیست؟
			  </button>
			 </h2>
			 <div aria-labelledby="headingThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample" id="collapseThree">
			  <div class="accordion-body">
			   لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
			  </div>
			 </div>
			</div>
		   </div>
		  </div>
		 </div>
		</div>
	   </div>
	  </section>
	  <!-- faq area end  -->
	  <!-- text-slider area start  -->
	  <div class="text-slider-box fade-anim">
	   <div class="text-slider">
		<div class="swiper text-slider-active">
		 <div class="swiper-wrapper">
		  <div class="swiper-slide">
		   <div class="text-slider-item">
			<h2 class="title">
			 <span class="icon">
			  <i class="fa-solid fa-star">
			  </i>
			 </span>
			 سرویس IT
			</h2>
		   </div>
		  </div>
		  <div class="swiper-slide">
		   <div class="text-slider-item">
			<h2 class="title">
			 <span class="icon">
			  <i class="fa-solid fa-star">
			  </i>
			 </span>
			 شرکت نرم افزاری
			</h2>
		   </div>
		  </div>
		  <div class="swiper-slide">
		   <div class="text-slider-item">
			<h2 class="title">
			 <span class="icon">
			  <i class="fa-solid fa-star">
			  </i>
			 </span>
			 استارتاپ
			</h2>
		   </div>
		  </div>
		  <div class="swiper-slide">
		   <div class="text-slider-item">
			<h2 class="title">
			 <span class="icon">
			  <i class="fa-solid fa-star">
			  </i>
			 </span>
			 بازاریابی
			</h2>
		   </div>
		  </div>
		 </div>
		</div>
	   </div>
	  </div>
	  <!-- text-slider area end -->
	  <!-- story area start  -->
	  <section class="story-area">
	   <div class="container rr-container-1410">
		<div class="story-area-inner section-spacing">
		 <div class="story-header fade-anim">
		  <div class="section-title-wrapper">
		   <div class="subtitle-wrapper">
			<span class="section-subtitle">
			 <span class="start-shape">
			 </span>
			 <span class="text">
			  کاوش ما را تماشا کنید
			 </span>
			 <span class="end-shape">
			 </span>
			</span>
		   </div>
		   <div class="title-wrapper">
			<h2 class="section-title">
			 میراث الهام بخش پشت ساخت
						ساعتهای امضای ما
			</h2>
		   </div>
		  </div>
		 </div>
		 <div class="story-thumb-wrapper fade-anim">
		  <div class="btn-wrapper pos-center">
		   <a class="play-button video-popup" href="https://www.youtube.com/watch?v=8oON21G1Bqg">
			<i class="fa-solid fa-play">
			</i>
		   </a>
		  </div>
		  <img alt="image" src="{% static 'imgs/gallery/gallery-20.webp' %}"/>
		 </div>
		</div>
	   </div>
	  </section>
	  <!-- story area end  -->
	  <!-- project-2 area start -->
	  <section class="project-2-area">
	   <div class="container rr-container-1410">
		<div class="project-2-area-inner section-spacing">
		 <div class="project-2-header fade-anim">
		  <div class="section-title-wrapper">
		   <div class="subtitle-wrapper">
			<span class="section-subtitle">
			 <span class="start-shape">
			 </span>
			 <span class="text">
			  پروژه های اخیر ما
			 </span>
			 <span class="end-shape">
			 </span>
			</span>
		   </div>
		   <div class="title-wrapper">
			<h2 class="section-title">
			 آخرین پروژه های ما را کشف کنید
			</h2>
		   </div>
		  </div>
		 </div>
		 <div class="project-2-wrapper-box fade-anim">
		  <div class="project-2-wrapper">
		   <div class="swiper project-2-active">
			<div class="swiper-wrapper">
			 <div class="swiper-slide">
			  <div class="project-2-box">
			   <div class="thumb">
				<div class="action-btn">
				 <a class="circle-arrow-btn" href="project-details.html">
				  <i class="fa-solid fa-arrow-left">
				  </i>
				 </a>
				</div>
				<a href="project-details.html">
				 <img alt="image" src="{% static 'imgs/project/project-5.webp' %}"/>
				</a>
			   </div>
			   <div class="content">
				<span class="subtitle">
				 استراتژی رشد ، مدل
				</span>
				<h3 class="title">
				 <a href="project-details.html">
				  نوآوری کسب و کار را هدایت کنید
				 </a>
				</h3>
				<p class="text">
				 این شامل نظارت و نظارت بر فناوری اطلاعات یک شرکت است
								زیرساخت
				</p>
			   </div>
			  </div>
			 </div>
			 <div class="swiper-slide">
			  <div class="project-2-box">
			   <div class="thumb">
				<div class="action-btn">
				 <a class="circle-arrow-btn" href="project-details.html">
				  <i class="fa-solid fa-arrow-left">
				  </i>
				 </a>
				</div>
				<a href="project-details.html">
				 <img alt="image" src="{% static 'imgs/project/project-6.webp' %}"/>
				</a>
			   </div>
			   <div class="content">
				<span class="subtitle">
				 استراتژی رشد ، مدل
				</span>
				<h3 class="title">
				 <a href="project-details.html">
				  زیرساخت های ابری مقیاس پذیر
				 </a>
				</h3>
				<p class="text">
				 این شامل نظارت و نظارت بر فناوری اطلاعات یک شرکت است
								زیرساخت
				</p>
			   </div>
			  </div>
			 </div>
			 <div class="swiper-slide">
			  <div class="project-2-box">
			   <div class="thumb">
				<div class="action-btn">
				 <a class="circle-arrow-btn" href="project-details.html">
				  <i class="fa-solid fa-arrow-left">
				  </i>
				 </a>
				</div>
				<a href="project-details.html">
				 <img alt="image" src="{% static 'imgs/project/project-7.webp' %}"/>
				</a>
			   </div>
			   <div class="content">
				<span class="subtitle">
				 استراتژی رشد ، مدل
				</span>
				<h3 class="title">
				 <a href="project-details.html">
				  تشخیص تهدید پیشرفته
				 </a>
				</h3>
				<p class="text">
				 این شامل نظارت و نظارت بر فناوری اطلاعات یک شرکت است
								زیرساخت
				</p>
			   </div>
			  </div>
			 </div>
			</div>
		   </div>
		   <div class="project-2-nav">
			<div class="project-2-button-prev project-2-nav-btn">
			 <i class="fa-solid fa-arrow-right">
			 </i>
			</div>
			<div class="project-2-button-next project-2-nav-btn">
			 <i class="fa-solid fa-arrow-left">
			 </i>
			</div>
		   </div>
		  </div>
		 </div>
		</div>
	   </div>
	  </section>
	  <!-- project-2 area end -->
	 </div>
	 <!-- cta-2 area start  -->
	 <section class="cta-2-area section-spacing-top">
	  <div class="container rr-container-1410">
	   <div class="cta-2-area-inner fade-anim">
		<div class="cta-2-content">
		 <div class="section-title-wrapper">
		  <div class="subtitle-wrapper">
		   <span class="section-subtitle">
			<span class="start-shape">
			</span>
			<span class="text">
			 رزرو قرار ملاقات
			</span>
			<span class="end-shape">
			</span>
		   </span>
		  </div>
		  <div class="title-wrapper">
		   <h2 class="section-title">
			ما خدمات عالی IT را انجام می دهیم
					  برای تجارت تازه شما
		   </h2>
		  </div>
		 </div>
		 <div class="btn-wrapper">
		  <a class="rr-btn" href="contact.html">
		   <span class="btn-wrap">
			<span class="text-one">
			 یک پروژه را شروع کنید
			</span>
			<span class="text-two">
			 یک پروژه را شروع کنید
			</span>
		   </span>
		  </a>
		  <div class="cta-box">
		   <div class="icon">
			<i class="fa-solid fa-phone">
			</i>
		   </div>
		   <div class="cta-text">
			<div class="number">
			 با ما تماس بگیرید:
			 <a href="tel:03130010011">
			  03130010011
			 </a>
			</div>
			<p class="text">
			 برای هر سوال
			</p>
		   </div>
		  </div>
		 </div>
		</div>
		<div class="cta-2-thumb">
		 <img alt="image" class="img-reveal-anim" src="{% static 'imgs/gallery/gallery-17.webp' %}"/>
		</div>
	   </div>
	  </div>
	 </section>
	 <!-- cta-2 area end  -->
	 <!-- blog-2 area start -->
	 <section class="blog-2-area">
	  <div class="container rr-container-1410">
	   <div class="blog-2-area-inner section-spacing-top">
		<div class="blog-2-header fade-anim">
		 <div class="section-title-wrapper">
		  <div class="subtitle-wrapper">
		   <span class="section-subtitle">
			<span class="start-shape">
			</span>
			<span class="text">
			 بلاگ های اخیر
			</span>
			<span class="end-shape">
			</span>
		   </span>
		  </div>
		  <div class="title-wrapper">
		   <h2 class="section-title">
			بینش و به روزرسانی ها
		   </h2>
		  </div>
		 </div>
		</div>
		<div class="blog-2-wrapper-box">
		 <div class="blog-2-wrapper">
		  <article class="blog-2 fade-anim">
		   <div class="thumb">
			<a href="blog-details.html">
			 <img alt="blog image" src="{% static 'imgs/blog/blog-5.webp' %}"/>
			</a>
		   </div>
		   <div class="content">
			<span class="tag">
			 بازاریابی سئو
			</span>
			<h2 class="title">
			 <a href="blog-details.html">
			  چگونه خدمات جامع IT نوآوری را هدایت می کند ،
						  کارآیی ، و
						  رشد در عصر دیجیتال
			 </a>
			</h2>
			<p class="text">
			 خدمات مشاوره IT شامل مشاوره در مورد نحوه استفاده از بهترین فناوری است
						برای رسیدن به اهداف خود این شامل توسعه استراتژی IT ، برنامه ریزی معماری سیستم ،
						ارزیابی فناوری.
			</p>
			<div class="meta">
			 <span class="date">
			  ۱۵ مهر ۱۴۰۴
			 </span>
			 <span class="author">
			  توسط
			  <span class="name">
			   ایلیا میرزایی
			  </span>
			 </span>
			</div>
		   </div>
		  </article>
		  <article class="blog-2 fade-anim">
		   <div class="thumb">
			<a href="blog-details.html">
			 <img alt="blog image" src="{% static 'imgs/blog/blog-6.webp' %}"/>
			</a>
		   </div>
		   <div class="content">
			<span class="tag">
			 بازاریابی سئو
			</span>
			<h2 class="title">
			 <a href="blog-details.html">
			  نکات و ترفندهایی از یک سئو بالا
						
			 </a>
			</h2>
			<p class="text">
			 لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
			</p>
			<div class="meta">
			 <span class="date">
			  ۱۵ مهر ۱۴۰۴
			 </span>
			 <span class="author">
			  توسط
			  <span class="name">
			   ایلیا میرزایی
			  </span>
			 </span>
			</div>
		   </div>
		  </article>
		 </div>
		</div>
	   </div>
	  </div>
	 </section>
	 <!-- blog-2 area end -->
	 <!-- brand area start  -->
	 <div class="brand-area">
	  <div class="container rr-container-1410">
	   <div class="brand-area-inner section-spacing">
		<div class="brand-header fade-anim">
		 <div class="text-wrapper">
		  <p class="text">
		   ما در بیش از 200 پروژه با 150+ مشتری کار کرده ایم
		  </p>
		 </div>
		</div>
		<div class="brands-wrapper-box fade-anim">
		 <div class="brands-wrapper">
		  <div class="swiper brand-slider-active">
		   <div class="swiper-wrapper">
			<div class="swiper-slide">
			 <div class="brand-box">
			  <img alt="image" src="{% static 'imgs/brand/brand-1.webp' %}"/>
			 </div>
			</div>
			<div class="swiper-slide">
			 <div class="brand-box">
			  <img alt="image" src="{% static 'imgs/brand/brand-2.webp' %}"/>
			 </div>
			</div>
			<div class="swiper-slide">
			 <div class="brand-box">
			  <img alt="image" src="{% static 'imgs/brand/brand-3.webp' %}"/>
			 </div>
			</div>
			<div class="swiper-slide">
			 <div class="brand-box">
			  <img alt="image" src="{% static 'imgs/brand/brand-4.webp' %}"/>
			 </div>
			</div>
			<div class="swiper-slide">
			 <div class="brand-box">
			  <img alt="image" src="{% static 'imgs/brand/brand-5.webp' %}"/>
			 </div>
			</div>
		   </div>
		  </div>
		 </div>
		</div>
	   </div>
	  </div>
	 </div>
	 <!-- brand area end  -->
	</main>
{% endblock content %}