{% extends 'base.html' %}
{% load static %}

{% block title %} جزئیات پروژه {% endblock title %}

{% block content %}

<main>
	<!-- breadcrumb area start -->
	<section class="breadcrumb-area">
		<div class="breadcrumb-area-inner">
			<div class="breadcrumb-bg">
				<img alt="image" src="{% static 'imgs/gallery/gallery-29.webp'%}" />
			</div>
			<div class="container rr-container-1410">
				<div class="breadcrumb-content">
					<div class="title-wrapper">
						<h1 class="breadcrumb-title">
							جزئیات پروژه
						</h1>
					</div>
					<div class="breadcrumb-wrapper">
						<ul class="rr-breadcrumb">
							<li>
								<a href="{% url 'pages:home' %}">
									خانه
								</a>
							</li>
							<li>
								جزئیات پروژه
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- breadcrumb area end -->
	<!-- project-details area start  -->
	<section class="project-details-area">
		<div class="container rr-container-1410">
			<div class="project-details-inner section-spacing-top">
				<div class="project-details-thumb-wrapper">
					<div class="project-details-thumb fade-anim" data-direction="left">
						<img alt="image" src="{% static 'imgs/gallery/gallery-34.webp'%}" />
					</div>
					<div class="project-details-meta fade-anim" data-direction="right">
						<h3 class="meta-block-title">
							اطلاعات پروژه
						</h3>
						<div class="meta-wrapper">
							<div class="meta-box">
								<div class="icon">
									<i class="fa-solid fa-user">
									</i>
								</div>
								<div class="content">
									<p class="title">
										مشتری ها:
									</p>
									<p class="text">
										زهرا عطایی
									</p>
								</div>
							</div>
							<div class="meta-box">
								<div class="icon">
									<i class="fa-solid fa-layer-group">
									</i>
								</div>
								<div class="content">
									<p class="title">
										دسته:
									</p>
									<p class="text">
										بازاریابی دیجیتال ، سئو
									</p>
								</div>
							</div>
							<div class="meta-box">
								<div class="icon">
									<i class="fa-solid fa-calendar-days">
									</i>
								</div>
								<div class="content">
									<p class="title">
										تاریخ:
									</p>
									<p class="text">
										۲۵ فروردین ۱۴۰۴
									</p>
								</div>
							</div>
							<div class="meta-box">
								<div class="icon">
									<i class="fa-solid fa-location-dot">
									</i>
								</div>
								<div class="content">
									<p class="title">
										آدرس:
									</p>
									<p class="text">
										اصفهان، خیابان چهارباغ بالا
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="proeject-details-info fade-anim">
					<div class="gallery-wrapper">
						<img alt="image" src="{% static 'imgs/gallery/gallery-35.webp'%}" />
						<img alt="image" src="{% static 'imgs/gallery/gallery-36.webp'%}" />
						<img alt="image" src="{% static 'imgs/gallery/gallery-37.webp'%}" />
					</div>
					<div class="text-wrapper">
						<h3 class="info-title">
							توسعه برنامه تلفن همراه
						</h3>
						<p class="text">
							لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
							چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
							تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در
							شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها
							شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی
						</p>
						<p class="text">
							لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
							چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
							تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
						</p>
					</div>
				</div>
				<div class="proeject-details-info fade-anim">
					<h3 class="info-title">
						چالش پروژه
					</h3>
					<div class="text-wrapper">
						<p class="text">
							لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
							چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
							تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
						</p>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!-- project-details area end  -->
	<!-- testimonial-4 area start -->

	<section class="project-4-area">
		<div class="container rr-container-1410">
			<div class="project-4-area-inner section-spacing">
				<div class="project-4-header fade-anim">
					<div class="section-title-wrapper">
						<div class="subtitle-wrapper">
							<span class="section-subtitle">
								<span class="start-shape">
								</span>
								<span class="text">
									پروژه های جدید
								</span>
								<span class="end-shape">
								</span>
							</span>
						</div>
						<div class="title-wrapper">
							<h2 class="section-title">
								جدید ترین پروژه های ما
							</h2>
						</div>
					</div>
					<div class="btn-wrapper">
						<a class="rr-btn" href="{% url 'projects:project' %}">
							<span class="btn-wrap">
								<span class="text-one">
									مشاهده پروژه های بیشتر
									<i class="fa-solid fa-arrow-left">
									</i>
								</span>
								<span class="text-two">
									مشاهده پروژه های بیشتر
									<i class="fa-solid fa-arrow-left">
									</i>
								</span>
							</span>
						</a>
					</div>
				</div>
				<div class="project-4-wrapper-box">
					<div class="project-3-wrapper">
						<div class="project-3-box fade-anim">
							<div class="area-bg">
								<img alt="image" src="assets/imgs/shape/shape-23.webp" />
							</div>
							<div class="thumb">
								<a href="project-details.html">
									<img alt="image" src="assets/imgs/project/project-8.webp" />
								</a>
							</div>
							<div class="content-wrapper">
								<div class="content">
									<h3 class="title">
										<a href="project-details.html">
											بهینه سازی خدمات فناوری اطلاعات مبتنی بر پروژه برای
											پیشرفته
										</a>
									</h3>
									<div class="btn-wrapper">
										<a class="rr-btn" href="project-details.html">
											<span class="btn-wrap">
												<span class="text-one">
													مشاهده پروژه
													<i class="fa-solid fa-arrow-left">
													</i>
												</span>
												<span class="text-two">
													مشاهده پروژه
													<i class="fa-solid fa-arrow-left">
													</i>
												</span>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
						<div class="project-3-box fade-anim">
							<div class="area-bg">
								<img alt="image" src="assets/imgs/shape/shape-23.webp" />
							</div>
							<div class="thumb">
								<a href="project-details.html">
									<img alt="image" src="assets/imgs/project/project-11.webp" />
								</a>
							</div>
							<div class="content-wrapper">
								<div class="content">
									<h3 class="title">
										<a href="project-details.html">
											طراحی و استقرار شبکه مقیاس پذیر
											معماری
										</a>
									</h3>
									<div class="btn-wrapper">
										<a class="rr-btn" href="project-details.html">
											<span class="btn-wrap">
												<span class="text-one">
													مشاهده پروژه
													<i class="fa-solid fa-arrow-left">
													</i>
												</span>
												<span class="text-two">
													مشاهده پروژه
													<i class="fa-solid fa-arrow-left">
													</i>
												</span>
											</span>
										</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- project-4 area end -->
</main>

{% endblock content %}