<!DOCTYPE html>
{% load static %}
<html dir="rtl" lang="fa">

<head>
	<meta charset="utf-8" />
	<meta content="IE=edge" http-equiv="X-UA-Compatible" />
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta content="Synvo HTML Template" name="description" />
	<title>
		{% block title %} {% endblock title %}
	</title>
	<!-- Fav Icon -->
	<link href="{% static 'imgs/logo/favicon.png' %}" rel="icon" type="image/x-icon" />
	<!-- Dependencies CSS Files -->
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
	<link href="{% static 'css/fontawesome-pro.css' %}" rel="stylesheet" />
	<link href="{% static 'css/swiper-bundle.min.css' %}" rel="stylesheet" />
	<link href="{% static 'css/progressbar.css' %}" rel="stylesheet" />
	<link href="{% static 'css/meanmenu.min.css' %}" rel="stylesheet" />
	<link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet" />
	<link href="{% static 'css/animate.min.css' %}" rel="stylesheet" />
	<link href="{% static 'css/odometer-theme-default.css' %}" rel="stylesheet" />
	<link href="{% static 'css/nice-select.css' %}" rel="stylesheet" />
	<!-- Template Main CSS File -->
	<link href="{% static 'css/style.css' %}" rel="stylesheet" />
	<!-- Chat Widget CSS File -->
	<link href="{% static 'css/chat-widget.css' %}" rel="stylesheet" />
</head>

<body class="body-wrapper">
	<!-- <div class="loader-wrap">
		<svg preserveaspectratio="none" viewbox="0 0 1000 1000">
			<path d="M0,1005S175,995,500,995s500,5,500,5V0H0Z" id="svg">
			</path>
		</svg>
		<div class="loader-wrap-heading">
			<div class="load-text">
				<span>
					S
				</span>
				<span>
					Y
				</span>
				<span>
					N
				</span>
				<span>
					V
				</span>
				<span>
					O
				</span>
			</div>
		</div>
	</div> -->
	<!-- Sroll to top -->
	<div class="progress-wrap">
		<svg class="progress-circle svg-content" height="100%" viewbox="-1 -1 102 102" width="100%">
			<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98">
			</path>
		</svg>
	</div>
	<!-- side toggle start -->
	<aside class="fix">
		<div class="side-info">
			<div class="side-info-content">
				<div class="offset-widget offset-header">
					<div class="offset-logo">
						<a href="{% url 'pages:home' %}">
							<img alt="site logo" src="{% static 'imgs/logo/logo.png' %}" />
						</a>
					</div>
					<button class="side-info-close" id="side-info-close">
						<i class="fas fa-times">
						</i>
					</button>
				</div>
				<div class="mobile-menu fix">
				</div>
				<div class="offset-button">
					<a class="rr-btn" href="{% url 'pages:contact' %}">
						<span class="btn-wrap">
							<span class="text-one">
								بیایید صحبت کنیم
							</span>
							<span class="text-two">
								بیایید صحبت کنیم
							</span>
						</span>
					</a>
				</div>
				<div class="offset-widget-box">
					<h2 class="title">
						با ما تماس بگیرید
					</h2>
					<div class="contact-meta">
						<div class="contact-item">
							<span class="icon">
								<i class="fa-solid fa-location-dot">
								</i>
							</span>
							<span class="text">
								تهران ، احمد آباد مستوفی
								<br />

							</span>
						</div>
						<div class="contact-item">
							<span class="icon">
								<i class="fa-solid fa-envelope">
								</i>
							</span>
							<span class="text">
								<a href="mailto:jahansang20@gmail.com">
									jahansang20@gmail.com
								</a>
							</span>
						</div>
						<div class="contact-item">
							<span class="icon">
								<i class="fa-solid fa-phone">
								</i>
							</span>
							<span class="text">
								<a href="tel:09123108563">
									09123108563
								</a>
							</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</aside>
	<div class="offcanvas-overlay">
	</div>
	<!-- side toggle end -->
	<div class="has-smooth" id="has_smooth">
	</div>
	<div id="smooth-wrapper">
		<div id="smooth-content">
			<!-- Header-2 area start -->
			<header class="header-2-area">
				<div class="header-2-top">
					<div class="container rr-container-1410">
						<div class="header-2-top-inner">
							<div class="header-2-contact-meta">
								<div class="header-2-contact-item">
									<span class="icon">
										<i class="fa-solid fa-phone">
										</i>
									</span>
									<span class="text">
										<a href="tel:09123108563">
											09123108563
										</a>
									</span>
								</div>
								<div class="header-2-contact-item">
									<span class="icon">
										<i class="fa-solid fa-location-dot">
										</i>
									</span>
									<span class="text">
										تهران ، احمد آباد مستوفی
									</span>
								</div>
								<div class="header-2-contact-item">
									<span class="icon">
										<i class="fa-solid fa-envelope">
										</i>
									</span>
									<span class="text">
										<a href="mailto:jahansang20@gmail.com">
											jahansang20@gmail.com
										</a>
									</span>
								</div>
							</div>
							<div class="header-2-social">
								<span class="text">
									ما را دنبال کنید:
								</span>
								<!-- <a href="https://www.facebook.com/">
									<i class="fa-brands fa-facebook-f">
									</i>
								</a> -->
								<!-- <a href="https://x.com/?lang=en">
									<i class="fa-brands fa-twitter">
									</i>
								</a> -->
								<a href="https://www.instagram.com/jahansang20/">
									<i class="fa-brands fa-instagram">
									</i>
								</a>
								<!-- <a href="https://www.linkedin.com/">
									<i class="fa-brands fa-behance">
									</i>
								</a> -->
								<a href="https://www.youtube.com/">
									<i class="fa-brands fa-youtube">
									</i>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="header-2-main">
					<div class="container rr-container-1410">
						<div class="header-2-main-inner">
							<div class="header-2-logo">
								<a href="{% url 'pages:home' %}">
									<img alt="Site Logo" class="normal-logo" src="{% static 'imgs/logo/logo.png' %}" />
								</a>
							</div>
							<div class="header-2-nav">
								<nav class="main-menu">
									<ul>
										<li class="menu-item">
											<a href="{% url 'pages:home' %}">
												خانه
											</a>

										<li class="menu-item">
											<a href="#">
												پروژه ها
											</a>
										</li>
										<li class="menu-item">
											<a href="{% url 'blogs:blog' %}">
												وبلاگ
											</a>
										</li>
										<li class="menu-item">
											<a href="{% url 'pages:about' %}">
												درباره ما
											</a>
										</li>
										<li>
											<a href="{% url 'pages:contact' %}">
												تماس با ما
											</a>
										</li>
									</ul>
								</nav>
							</div>
							<div class="header-2-cta">
								<span class="call-box">
									با ما تماس بگیرید:
									<a href="tel:09123108563">
										09123108563
									</a>
								</span>
							</div>
							<div class="header-2-offfcanvas">
								<button class="side-toggle">
									<i class="fa-solid fa-bars">
									</i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</header>
			<!-- Header-2 area end -->

			{% block content %}

			{% endblock content %}
			<footer class="footer-area">
				<div class="footer-widget-wrapper-box">
					<div class="container rr-container-1410">
						<div class="footer-widget-wrapper">
							<div class="footer-widget-box">
								<div class="footer-logo">
									<a href="index-2.html">
										<img alt="image" src="{% static 'imgs/logo/logo-light.png' %}" />
									</a>
								</div>
								<div class="footer-text">
									<p class="text">
										تخصص ما در مجموعه جهان سنگ، طراحی و اجرای بی‌نقص سنگ‌های کابینت و کانتر آشپزخانه
										است. ما با استفاده از متریال‌های درجه‌یک، ظرافت، زیبایی و دوام را به قلب خانه
										شما می‌آوریم تا آشپزخانه‌ای لوکس و ماندگار داشته باشید.
									</p>
								</div>
								<div class="footer-social">
									<!-- <a href="https://www.facebook.com/">
										<i class="fa-brands fa-facebook-f">
										</i>
									</a> -->
									<!-- <a href="https://x.com/?lang=en">
										<i class="fa-brands fa-twitter">
										</i>
									</a> -->
									<a href="https://www.instagram.com/jahansang20/">
										<i class="fa-brands fa-instagram">
										</i>
									</a>
									<!-- <a href="https://www.linkedin.com/">
										<i class="fa-brands fa-linkedin-in">
										</i>
									</a> -->
									<a href="https://www.youtube.com/">
										<i class="fa-brands fa-youtube">
										</i>
									</a>
								</div>
							</div>
							<div class="footer-widget-box">
								<h2 class="footer-widget-title">
									آدرس
								</h2>
								<ul class="footer-meta-list">
									<li>
										<span class="icon">
											<i class="fa-solid fa-location-dot">
											</i>
										</span>
										<span class="text">
											تهران ، احمد آباد مستوفی
										</span>
									</li>
									<li>
										<span class="icon">
											<i class="fa-solid fa-phone">
											</i>
										</span>
										<span class="text">
											تلفن:
											<a href="tel:09123108563">
												09123108563
											</a>
										</span>
									</li>
									<li>
										<span class="icon">
											<i class="fa-solid fa-envelope">
											</i>
										</span>
										<span class="text">
											نامه:
											<a href="mailto:jahansang20@gmail.com">
												jahansang20@gmail.com
											</a>
										</span>
									</li>
									<!-- <li>
										<span class="icon">
											<i class="fa-solid fa-clock">
											</i>
										</span>
										<span class="text">
											دفتر: 8:00 صبح -
											7:00 بعد از ظهر
										</span>
									</li> -->
								</ul>
							</div>
							<div class="footer-widget-box">
								<h2 class="footer-widget-title">
									لینک صفحات
								</h2>
								<ul class="footer-nav-list">
									<li>
										<a href="{% url 'pages:home' %}">
											<i class="fa-solid fa-chevron-left">
											</i>
											خانه
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa-solid fa-chevron-left">
											</i>
											پروژه ها
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa-solid fa-chevron-left">
											</i>
											بلاگ
										</a>
									</li>
									<li>
										<a href="{% url 'pages:about' %}">
											<i class="fa-solid fa-chevron-left">
											</i>
											درباره ما
										</a>
									</li>
									<li>
										<a href="{% url 'pages:contact' %}">
											<i class="fa-solid fa-chevron-left">
											</i>
											تماس با ما
										</a>
									</li>
								</ul>
							</div>
							<div class="footer-widget-box">
								<h2 class="footer-widget-title">
									خدمات ما
								</h2>
								<ul class="footer-nav-list">
									<li>
										<a href="#">
											<i class="fa-solid fa-chevron-left">
											</i>
											مشاوره تخصصی و انتخاب متریال
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa-solid fa-chevron-left">
											</i>
											اندازه‌گیری دقیق و نقشه‌برداری
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa-solid fa-chevron-left">
											</i>
											برش‌کاری و ابزارزنی پیشرفته
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa-solid fa-chevron-left">
											</i>
											نصب حرفه‌ای
										</a>
									</li>
									<li>
										<a href="#">
											<i class="fa-solid fa-chevron-left">
											</i>
											تضمین کیفیت و خدمات پس از فروش
										</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<div class="footer-newsletter-box">
					<div class="container rr-container-1410">
						<div class="footer-newsletter-wrapper">
							<div class="footer-newsletter-content">
								<div class="icon">
									<img alt="image" src="{% static 'imgs/icon/icon-26.webp' %}" />
								</div>
								<div class="content">
									<h3 class="title">
										از تازه ترین اخبار ها و رویداد های ما مطلع باشید
									</h3>
									<p class="text">
										صحفه ی اینستاگرام و سایت ما را دنبال کنید تا از اخبار ما مطلع شوید
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="copyright-area">
					<div class="container rr-container-1410">
						<div class="copyright-area-inner">
							<div class="copyright-text">
								<p class="text">
									تمامی حقوق محفوظ است، طراحی شده توسط Moslem Amiri
								</p>
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!-- footer area end  -->
		</div>
	</div>
	<!-- Chat Widget -->
	<div id="chat-widget" class="chat-widget">
		<button id="chat-widget-toggle" class="chat-widget-toggle" type="button" aria-label="گفتگو با ما">
			<i class="fa-solid fa-comment-dots"></i>
		</button>
		<div id="chat-widget-panel" class="chat-widget-panel" hidden>
			<div class="chat-widget-header">
				<img class="chat-widget-avatar" src="{% static 'imgs/logo/favicon.png' %}" alt="" />
				<span class="chat-widget-title">دستیار جهان سنگ</span>
				<button id="chat-widget-close" class="chat-widget-close" type="button" aria-label="بستن">×</button>
			</div>
			<div id="chat-widget-messages" class="chat-widget-messages"></div>
			<div id="chat-widget-typing" class="chat-widget-typing" hidden>در حال تایپ...</div>
			<form id="chat-widget-form" class="chat-widget-form">
				{% csrf_token %}
				<input id="chat-widget-input" type="text" autocomplete="off" placeholder="پیام خود را بنویسید..." />
				<button type="submit" class="chat-widget-send" aria-label="ارسال"><i
						class="fa-solid fa-paper-plane"></i></button>
			</form>
		</div>
	</div>
	{{ chat_widget_history|json_script:"chat-history-data" }}
	<!-- Dependencies JS Files -->
	<script src="{% static 'js/jquery-3.6.0.min.js' %}">
	</script>
	<script src="{% static 'js/bootstrap.bundle.min.js' %}">
	</script>
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}">
	</script>
	<script src="{% static 'js/swiper-bundle.min.js' %}">
	</script>
	<script src="{% static 'js/odometer.min.js' %}">
	</script>
	<script src="{% static 'js/waypoints.min.js' %}">
	</script>
	<script src="{% static 'js/progressbar.js' %}">
	</script>
	<script src="{% static 'js/gsap.min.js' %}">
	</script>
	<script src="{% static 'js/ScrollSmoother.min.js' %}">
	</script>
	<script src="{% static 'js/ScrollTrigger.min.js' %}">
	</script>
	<script src="{% static 'js/SplitText.min.js' %}">
	</script>
	<script src="{% static 'js/TextPlugin.js' %}">
	</script>
	<script src="{% static 'js/customEase.js' %}">
	</script>
	<script src="{% static 'js/jquery.meanmenu.min.js' %}">
	</script>
	<script src="{% static 'js/backToTop.js' %}">
	</script>
	<script src="{% static 'js/jquery.nice-select.min.js' %}">
	</script>
	<script src="{% static 'js/wow.min.js' %}">
	</script>
	<!-- Template Main JS File -->
	<script src="{% static 'js/main.js' %}">
	</script>
	<!-- Chat Widget JS File -->
	<script src="{% static 'js/chat-widget.js' %}">
	</script>
</body>

</html>